[2018-08-27 17:03] kevrat commented on #632
+1
Same on .xlsx.writeBuffer()
All worksheets persist in workbook, but file contain only one

[2018-08-28 03:03] GO-DIE opened #634 "The worksheet.properties.defaultRowHeight can't work!! How to set the rows height, help!!"
And I found all the way  of set row height are no work, why?

[2018-08-28 10:04] zengwe opened #635 "The merged cells do not have enough border information"
For example, I merged the cells $B$2:$C$3 and set the outer border to red. I get each cell through EXCELJS, with only the information for the top and left borders.
Then I merged $B$5:$C$6 and set only the top and left borders. The resulting border information is the same as $B$2:$C$3.
So how do I know if the right and bottom borders have color settings?

[2018-08-29 08:47] cris391 commented on #432
eachCell also doesn't work as intended, includeEmpty property doesn't skip empty cells

[2018-08-30 03:32] BhuvaneshwaranR commented on #312
@blackmatch it is generating a new sheet but that is malfunction. data loss is happening.

[2018-08-30 07:01] yilikun commented on #634
type you code

[2018-08-30 12:57] unpollito opened #637 "Heavily degrading performance in cell merges"
Hello,

I've been using ExcelJS to generate Excel files with lots of merged cells, around tens of thousands of merged cells. However, I've noticed that the performance degrades a lot the more merges I perform. I've noticed that these few lines of code inside the mergeCells function are eating up lots of execution time:

[code]

The issue here is clear: the first time I merge a cell, it doesn't nee

[2018-08-31 20:04] cyphercider opened #638 "Cell name-based hyperlinks: proof-of-concept"
Hi @guyonroche ,

I have a use case where I need to build up a large workbook where each row has a global ID for the whole workbook.  It is simpliest to create hyperlinks based on cell name than to keep track of the sheet name and cell as shown in the example [here](https://github.com/guyonroche/exceljs#hyperlink-value).

I have created a proof-of-concept by reverse engineering a working cell name

[2018-09-05 00:10] fengerzh opened #639 "[Feature Request]Read embedded object"
ExcelJS is a cool project which can write images into Excel file. But I did not find a way to read images or other embedded object from an existing Excel file. Could this be implemented? Thank you!

[2018-09-05 13:24] RameshY703 opened #641 "Add multi line String in a single cell"
How can I add multi line String in single cell.
like
**Hello World
Hello World
Hello World**
Thanks in advance for help

[2018-09-06 13:07] jgtbz opened #642 "Protect Excel"
How can i do this ?

[2018-09-06 14:54] tony-rodriguez commented on #633
I am running into a similar issue. I am not seeing a corrupted file, but Rich Text values are lost on write. I have `{ useSharedStrings: true }`, but any cell that had existing Rich Text comes out with no value.

[2018-09-06 19:11] alechirsch opened #643 "Format of an entire column"
I am trying to make an entire column be formatted as currency. I am able to do this per cell, but would like to be able to do this per column.

I need to do this to get a single cell to be formatted, and loop over every single cell: `sheet.getCell('Q2').numFmt = '$ #,##0.00';`

I would like to be able to do this:
[code]

I do not see this documented anywhere, is it possible?

[2018-09-06 19:18] alechirsch commented on #242
+1

[2018-09-12 09:39] GRathinavelu opened #644 "Eachrow Break or stop"
Hi,
i have tried your npm package, let assume one scenario,

i have uploading sheet and reading data, in that first record i have error i have to send res.send error statuscode with client side message. In this eachrow loop continue once i have sent the response. i need to break the loop.

[code]
Gopal R.

[2018-09-13 14:33] emlai opened #645 "Column.values is missing TypeScript definitions"
Column.values was added in e1667d79df46b445c956b79dc05e901a1ac5dc43, but I can't access it nicely from TypeScript because it isn't defined in index.d.ts. It would be nice to have the type definitions for it. Thanks!

[2018-09-13 19:51] nazrdogan commented on #632
+1

[2018-09-14 02:27] ZJONSSON commented on #608
@lirantal please see discussion on https://github.com/guyonroche/exceljs/commit/9066cd89a9fad055166b53ce9e75a42e7636bac1#comments

Also please fwd to the Node.js Security WG (@nodejs)

I really appreciate all the work, but we also need to be able to trust in the validation process of what constitutes a CVE - otherwise alerts could be ultimately ignored

[2018-09-14 08:55] lirantal commented on #608
Hi @ZJONSSON,

Appreciate the feedback and I agree that this is debatable. Actually what we've done in the past in cases like this where this is borderline and probably not in the scope of the library is that we ask the maintainer to add a security disclaimer in the README to clarify possible attack vectors and resolve the issue without assigning a CVE. In this report I may have jumped too quickly

[2018-09-14 09:06] guyonroche commented on #608
I agree with all the above comments. My rationale with adding the html property was 1) it has no impact on any other part of exceljs and therefore no impact on any dependent libs or apps and 2) provides a simple convenience that outputs html safe strings for rendering.
Of course the ultimate responsibility in rendering safe html pages is with the app but from my own experience, it's nice when a li

[2018-09-14 10:06] yuke0929 opened #647 "How can I save worksheet on other workbook file?"
I edited a worksheet and I want to save this worksheet on a new excel file. But I can't find any method like workbook.setWorksheet(worksheet). Is there any idea about moving one worksheet from an old excel file to a new excel file?

[2018-09-14 12:07] Tilogorn opened #648 "Worksheets are hidden by default"
Referencing issue #630 and #632
This bug came with version 1.5.0 since one can show/hide worksheets.

Minimal working example:

[code]
outputs

![bildschirmfoto vom 2018-09-14 13-54-12](https://user-images.githubusercontent.com/7524854/45548742-b385ef00-b825-11e8-986d-dc67e094267a.png)

As the documentation for the "new" (`v1.5.0`!) `hide`/`show` feature is not the best, providing a workaround wou

[2018-09-14 16:17] y0m0 commented on #647
There is a read and a write example in the [Docs](https://github.com/guyonroche/exceljs#writing-xlsx)
Anyway you can do something like this:
[code]

[2018-09-14 19:56] JohannesHoppe commented on #511
https://github.com/angular/angular-cli/issues/9827#issuecomment-369578814 explains why it's not any longer possible to import some node-modules with Angular-CLI 6.

[2018-09-17 09:45] CalibanAngel opened #649 "Add style while creating a new row"
Hi !
I'm adding row using array as the doc says using `worksheet.addRow([3, 'Sam', new Date()]);`, but now i would like to add style to my cell while adding the row.
I would like to do something like that `worksheet.addRow([3, {text: 'Sam', style: {fill: {bgColor: rgb(42, 42, 42)}}, new Date()]);`. I don't know if it's possible and how to do it.
Thanks !

[2018-09-17 10:28] mram888 commented on #648
In the definition of the worksheet you should put it like this:
`var sheet2 = workbook.addWorksheet('S2',{state: 'visible'});
`

[2018-09-17 10:31] mram888 commented on #630
When creating the worksheet you should do it like this:
`var worksheet = workbook.addWorksheet(_.toLower(data.currency), {state: 'visible'});`

[2018-09-17 12:47] yuvpf opened #650 "Image location don't respect Column width"
I set custom column width while defining sheet columns. When adding an image using coordinate (50% column to use), the image don't respect my custom width.

**Code :**

      sheet.columns = [
          { header: 'Id', key: 'id', width: 10 },
          { header: 'Name', key: 'name', width: 32 },
      ];

      var imageId2 = workbook.addImage({
        base64: myBase64Image,
        extension: 'p

[2018-09-17 14:45] Caperious commented on #427
The same error when using spliceColumns..

[2018-09-17 16:01] schempil opened #651 "Moment is not defined"
I have got a problem with exceljs. I am using Version 1.5.1, but also in newer versions the problem occurs.

I got the error "moment is not defined" on csv.js on line 13.
Some weeks ago der plugin worked perfectly in this environment.
I am using react in an electron context, nothing really changed, except i ran "yarn".

[2018-09-18 03:04] vasiliyb commented on #325
Same Issue,

[code]

[2018-09-18 03:11] vasiliyb opened #652 "TypeError: Cannot read property 'getRow' of undefined"
Folks, not sure why I am seeing this,
"exceljs": "^1.6.2"
"node": "8.12.0"

[code]

[code]

Hope I am chaining promises appropriately.  workbook.commit is async, yes?

[2018-09-18 03:51] vasiliyb commented on #652
Update:  This seems to be occurring to older versions of excel files, not anything i create locally .

[2018-09-18 07:39] #651 closed

[2018-09-18 07:41] schempil opened #653 "Row height not working"
row.height does not affect anything.

Nothing changed in my code, but i can not set the row.

    let workbook = new Excel.Workbook()
    let sheet = workbook.addWorksheet('Leckages')

    sheet.columns = [
      {width: 40},
      {width: 30},
      {width: 10},
      {width: 25},
      {width: 10},
      {width: 10},
      {width: 10},
      {width: 10},
    ];

    sheet.addRow(['a', 'b', 'c',

[2018-09-18 13:46] schempil commented on #653
I found something out:

When i pass styles for the row via `row.styles = {...}` then I can see them in row-xform.js when i debug the file. But the height attribute is always undefined at this place.

[2018-09-18 16:53] msillz commented on #469
Thank you for your post! To add onto the post above, this website explains it well in my opinion:

http://polymathprogrammer.com/2011/02/15/built-in-styles-for-excel-open-xml/

[2018-09-18 18:19] Falieson commented on #583
This issue (and hack fix) are tracked here: https://github.com/guyonroche/exceljs/issues/83

[2018-09-19 10:59] lanbin45 commented on #351
Hi, I've seen your reply on other issues of this repo for addImage on stream mode, I wanna know whether you have fixed your problem?

[2018-09-19 22:32] #652 closed

[2018-09-21 18:34] TonyDobbs commented on #388
@brucejo75 @guyonroche Has an alternative change been comitted? I can't seem to figure out how to make the export fit to 1 page with without it also trying to fit the content to 1 page in height.

[2018-09-26 05:37] PawanWagh opened #654 "Created workbooks not opening MS Office"
This is my code to create an excel file from scratch. I am able to open generated excel file in [zoho](https://sheet.zoho.com/sheet/excelviewer), Mac Numbers, but when same opened in MS office it says "Corrupted file, cannot be recovered". This same file when opened in zoho and from exported as excel, it opens in MS Office with all cell formatting intact.

[code]

[2018-09-27 07:52] sossargsyan commented on #95
If I understood correctly it can be easily done by using **_address** property:
`worksheet.getRow(5).getCell(1)._address // A5`

[2018-09-29 16:17] longweiquan commented on #404
@Blakey @mfahmirukman ,

Hello, I encounter the same issue when i limit the memory. It throws exception at workbook.commit().  Here's my code :

[code]

[2018-09-29 23:01] mfahmirukman commented on #404
Okay, so I debugged on what's wrong with it.

Your Excel configuration uses useSharedStrings set as true
sharedStrings is a config that allows the same string to be used over and over again in many different cells. The problem lies when you set it as true, yet there's no same string anywhere.
if you go console.log(workbook.useSharedStrings); after your loop is finished, you'll see that you're actu

[2018-10-01 15:30] huntinghawk1415 opened #655 "Cannot set property 'outlineProperties' of null"
I'm attempting to read an xlsx file that's been generated from company software. I'm able to read and write all other files other than those generated xlsx files, so I'm not 100% sure whats going on in the back end to cause this. Regardless, here's my error:

[code]

and my code:

[code]

[2018-10-01 17:51] halfer commented on #655
Also asked [on Stack Overflow](https://stackoverflow.com/questions/52594745/cannot-set-property-outlineproperties-of-null-exceljs).

[2018-10-02 02:41] huntinghawk1415 commented on #655
Not sure if you're alerting me or anyone else who happens by this issue. Regardless, I'm the one who posted the question on Stack Overflow assuming it might have a quicker response rate than here (to no avail, sadly).

[2018-10-02 08:35] joan-saum opened #656 "Writing boolean into Xlsx file become integer"
When I try to write some booleans in a Xlsx file, the file contain number instead of boolean true/false
If the value is true, the cell contain the number 1
If the value is false, the cell contain the number 0

[2018-10-02 21:15] GuofuHuang opened #657 "Cannot read property 'prototype' of undefined"
Environment:
Meteor,
Angular 6

I'm trying to import exceljs with the code below:
 var Excel = require('exceljs');

But it always gives me this error:

Uncaught TypeError: Cannot read property 'prototype' of undefined

Any ideas?

[2018-10-04 09:11] Trinakriae opened #658 "ExcelJS throws an exception in IE 11"
The component works perfectly in all the major browsers (Chrome, Firefox, Edge), however in Internet Explorer it throws an exception related to the JS method assign():

_Object doesn't support property or method 'assign'_

For my web application working in IE is a strict requirement. I know that the issue is not strictly related to the ExcelJS component but maybe somebody has any solution for this

[2018-10-04 18:04] pomeo commented on #382
If anybody will search
[code]
And it's not the same
[code]

[2018-10-08 10:08] lyx04 opened #659 "Can I set the cell text to wrap when it is out? (Translated from: 能否设置单元格文字多出时自动换行)"
translated:
Can I set the cell text to wrap when it is out?

[2018-10-10 12:59] Tilogorn opened #660 "Streaming support is genious. Any xml writing library doing the same?"
Just curious: I'm using exceljs to read a csv and write it to a xlsx-stream with nodejs. Takes less than **20MB** for **500k** rows.
I need XML-Support too. But I can't find any xml writing library that supports committing single elements and writing them to disk (which leads to over **2GB** memory consumption).

Does the author of exceljs or anyone else know a xml-library that has the same geniou

[2018-10-11 10:43] krisstoof opened #661 "Can't read file"
I have an error
`TypeError: e.exists is not a function
    at exceljs.min.js:4
    at E (exceljs.min.js:10)
    at c.M [as constructor] (exceljs.min.js:10)
    at new c (exceljs.min.js:15)
    at Object.exists (exceljs.min.js:4)
    at b.exports.readFile (exceljs.min.js:7)
    at ProjectsListComponent.push../src/app/projects-list/projects-list.component.ts.ProjectsListComponent.flags2 (projects-li

[2018-10-12 03:03] muhammadbima20 opened #662 "How to download excel file from frontend without save it from folder first"
hi, i have an issue about how to generate excel and return dowload file without save the file.

i use native JS in my frontend, and i generate the excel in my NodeJs Backend.
the way i generate, i think is normal :

and in the frontend, i just using normal ajax call.

maybe you guys can help me with give me an example code in frontend to download, and how to return it from backend.

PS :
- i've al

[2018-10-12 18:23] huntinghawk1415 opened #664 "Defined Names Break/Corrupt Excel File into Repair Mode"
### *Problem*

After a bit of time trying to figure out why my files were always being corrupted when using `workbook.xlsx.writeFile()`, I came to find out it was the named ranges (under the formulas tab) in the template I was reading that was causing the issue - more specifically, it was the way the ranges were being extracted and re-entered into a "new" xlsx file. To give you an idea of what I w

[2018-10-15 13:18] CalibanAngel opened #665 "Bad type in Cell.fullAddress"
hi ! I'm trying to get the `row` and the `column` from a cell, so to access these property I saw that you must access them with `cell.fullAddress`. But when i'm doing
`console.log(cell.fullAddress);` it returns me `{ sheetName: 'Sheet1', address: 'A1', row: 1, col: 1 }`.
Or `fullAddress` is define as following:
[code]
So could you please update the doc with `rowKey: number, colKey: number` or fixi

[2018-10-16 07:47] mmoczulski commented on #486
Found workaround for it. I'm not quite happy with it, but at least it worked for my case :wink:

[code]

This makes a new date object with hour value of desired timezone. Keep in mind, it's still in UTC.

[2018-10-17 11:52] raamkumaarb commented on #631
I am also facing the same issue in Excel 2007. Anyone find a fix for this?

[2018-10-17 16:34] zgriesinger commented on #657
Try changing it to:
[code]

[2018-10-18 05:14] priyankhcrm opened #667 "Having issue the large size of item to the data validation on list with Exceljs"
Having issue the large size of item to the data validation on list with Exceljs
This is working good
sheet2.getRow(2).getCell(1).dataValidation = {
type: 'list',
allowBlank: true,
formulae: ['"One,Two,Three,Four"']
};
but below is giving error and if we remove some of items from the array list then it is working fine
worksheet.getRow(2).getCell(m + 1).dataValidation = {
type: 'list',
allowBlank: t

[2018-10-18 10:06] wickedsheep commented on #648
@Tilogorn Can confirm.

@mram888 I disagree. When adding a sheet one expects it to be visible. `{state: 'visible'}` should be the default behavior.

[2018-10-18 11:33] Tilogorn commented on #648
@wickedsheep I think it was more ment as  a temporary workaround (answering my question for one). Looks like WIP when you take the missing docs into account.

[2018-10-19 00:40] msedek commented on #437
im stuck here, i can copy de sheets with newSheet.model = oldSHeet,model and then when I open the book excel says it neess tor ecover lost files.. sheets are there no name and the error is unacceptable

[2018-10-19 03:40] SilentWalker commented on #659
you can find it in alignment section

ws.getCell('D1').alignment = { wrapText: true };

[2018-10-19 13:45] msedek commented on #591
solved the issue, get a copy of the sheet you want to clone then create a new sheet with a standar name, then copy the model then put the real name:
let sheetToClone = workbook.getWorkSheet("ID TO CLONE")
let copySheet = workbook.addWorkSheet("Sheet")

copySheet.model = sheetToClone.model
copySheet,name = "THE REAL ID/NAME YOU WANT FOR THIS SHEET"

//DO STUFF HERE

return workbook.xlsx.writeFile("

[2018-10-19 13:47] msedek commented on #437
solved the issue, get a copy of the sheet you want to clone then create a new sheet with a standar name, then copy the model then put the real name:
[code]

[2018-10-19 13:57] msedek opened #668 "Cloning/Duplicating a "TEMPLATE" worksheet"
request for the author to add to the guide the method to clone a worksheet as the featured is present but not documented and it is such a useful feature... often times we have a template we need to duplicate over and over in a workbook and the process to do that is not described in the documentation resulting in hours and hours lost searching and finding undocumented and bad implemented stuff in t

[2018-10-19 17:32] huntinghawk1415 opened #669 "Font Colors aren't Consistent"
I'm attempting to only change the font color of a row that is being passed into a function:

[code]

Unfortunately when I run this it changes every row between an arbitrary number (i.e. rows 5-14) instead of just the row I specify. Any reason for this that someone can see, or is this a bug?

[2018-10-22 11:04] Dalfons0 commented on #566
Did you try the [msSaveAsBlob ](https://msdn.microsoft.com/en-us/library/hh772331(v=vs.85).aspx) method? Something like:
[code]

[2018-10-22 13:15] AniaMakes commented on #505
Hi! Sadly this is not a solution, but yet another person who is wondering about simultaneous read & write functionality. I'm iterating through rows and want the output written in right-most columns of each row.

When I was tackling this in python about 5 years ago, the only solution was to have two copies of the working file; one which is being read and the other one which is being written to. See

[2018-10-22 14:34] Dalfons0 commented on #475
Hi @JediYozh, could you please share the solution for this? Because It happens also to me and I didn't find any solution.

[2018-10-23 06:46] ray2031 opened #670 "problem about spliceColumns"
there is a problem about spliceColumns function.the line 209 in this file worksheets.js .the 'r' is not array. so it can't be splice

[2018-10-23 16:23] IRCraziestTaxi commented on #363
No comments on this? This is what I am looking for as well.

[2018-10-23 18:13] robophil commented on #664
Brilliant @huntinghawk1415 this works. I'll try and give this a look too.
If I don't find the cause, I'll put up a PR based off this 😁. Thanks

[2018-10-23 20:45] graciano commented on #402
this seems to be a memory issue, not from this library

[2018-10-24 08:14] funklos commented on #486
When working with vanilla Date objects you could try the following:
#538
`
new Date(
  Date.UTC(
    date.getFullYear(),
    date.getMonth(),
    date.getDate(),
    date.getHours(),
    date.getMinutes(),
    date.getSeconds()
  )
)
`

This results in a localised date object. This can then be passed to exceljs and formatted with the **style attribute** of a cell or column like this:

`
const EXCE

[2018-10-24 15:55] IRCraziestTaxi opened #674 "Worksheet.spliceRows has inconsistent results based on splice count"
I am using exceljs 1.6.2.

I am seeing completely contradicting results based on how large of a number I pass in for the `count` argument for `spliceRows`.

First case, in which it seems to work as expected:

[code]

Second case, in which `count` seems to be how many rows it keeps rather than how many it removes:

[code]

What I really need is to remove all rows past row 2, but that actually resul

[2018-10-25 11:16] Yuiffy commented on #631
same issue. One User use Excel 2016, say it is corrupt; but my Excel 2016 can open the same excel. strange

[2018-10-25 12:54] Mafi78 commented on #631
Hi,
Is it possible that there is an issue with fonts on one computer installed and on the other not ?
I noticed that on my machine i got errors related to that. It was not in that context, but that could explain the behavior ?

[2018-10-26 10:09] POJOa commented on #591
@msedek I encountered merged region loss using method like this , is it okay for you ?

[2018-10-26 12:08] msedek commented on #591
It does not works for New Brooks or at least to were I was able to to test,, so I have a template, read the file and then you can clone the New sheets from there, after you finish, save it with another name either in the same folder or another, but you can not clone from a template to a New book

[2018-10-27 10:56] vyava commented on #660
Hey,

Out of question.. May i get some example to write xls/xlsx file on nodejs? I was trying to do that with documentation but i just got zero byte files.

[2018-10-27 14:29] Tilogorn commented on #660
You mean a simple example with File I/O?

[code]

[2018-10-28 23:38] robophil opened #676 "Error: Shared Formula master must exist above and or left of clone"
I want to insert new rows dynamically into my sheet and have them inherit the formula used above.

[code]

It logs this error
[code]

This works for some columns. So my question is, how do I set a share formula? or better yet, how can I achieve this differently if there's an alternative

[2018-10-29 04:17] muhammadbima20 commented on #37
@navjotdhanawat @chenop hi there, can you give me an example of the response from your backend ? in my network tab, i just got `path` response from my backend, and my ajax goes to `error` function,
my response :

thanks

[2018-10-29 06:51] vyava commented on #660
Actually my problem was little different. Now i have fixed. I just need to use "tempfile" library to create a file first, write on it after.. Thanks

[2018-10-29 09:38] navjotdhanawat commented on #37
@muhammadbima20 I think you are using

[code]

Instead of file you have to write steam.

Like this:

[code]

[2018-10-30 03:57] joeyzhao1023 opened #678 "the default state value of sheet is "show" which not support by other lib, maybe "visible" is better"
openpyx in python
`ValueError: Value must be one of set(['visible', 'hidden', 'veryHidden'])`

xlrd in python
`KeyError: 'show'`

[2018-10-30 11:29] hewford commented on #662
Please help! I have the same issue. Using React though...

[2018-10-31 11:11] espekkaya opened #680 "TypeError: Cannot create property 'editAs' on string 'B198:BN198'"
Hello,

I have got an error while reading excel because of image objects.

I have added excel at attachments
[sample.xlsx](https://github.com/guyonroche/exceljs/files/2534008/sample.xlsx)

Here is my code

`    var Excel = require('exceljs');

    var wrkbook = new Excel.Workbook();

    await wrkbook.xlsx.readFile(downloadedDir + downloadedFileName).then(async function() {

        var worksheet

[2018-10-31 15:01] johisco commented on #462
@miqmago  Sorry to disturb you so long after this.. Did you figure out this error?
Im facing the exact same error.

[2018-10-31 16:00] mrclay opened #681 "Add simple functions to detect/convert richText to string/HTML"
Would these be useful somewhere in the project?
[code]

[2018-10-31 18:00] marc-hern commented on #363
I also would came here to find this feature.

[2018-10-31 20:09] miqmago commented on #462
Sorry, no... Finally I ended using https://github.com/SheetJS/js-xlsx. A little more complex to use but works fine.

[2018-11-01 04:44] FriendOfTheNight commented on #474
I'm having the same issue with 1.6.2.

[2018-11-01 05:47] itz-azhar commented on #596
@PashaFrontEnd
Instead of setting the property of each cell, you can set it for a row directly
Following example changes the style of header row(row 1)
[code]

[2018-11-01 11:43] coldhiber opened #682 "Getting 'sharredString's when trying to parse XSLX in the streaming mode"
Sometimes, when I'm trying to use https://github.com/guyonroche/exceljs#reading-xlsx for reading rows in the streaming mode, instead of list of values, I'm getting a list of 'sharredString's

[code]

I noticed that there is a place when the library is trying to parse sharedString section https://github.com/guyonroche/exceljs/blob/master/lib/stream/xlsx/workbook-reader.js#L84
but looks like it does

[2018-11-01 11:49] #682 closed

[2018-11-01 11:51] johnmalkovich100 opened #683 "Getting 'sharredString's when trying to parse XSLX in the streaming mode"
Sometimes, when I'm trying to use https://github.com/guyonroche/exceljs#reading-xlsx for reading rows in the streaming mode, instead of list of values, I'm getting a list of 'sharredString's

[code]

I noticed that there is a place when the library is trying to parse sharedString section https://github.com/guyonroche/exceljs/blob/master/lib/stream/xlsx/workbook-reader.js#L84
but looks like it does

[2018-11-01 14:50] djpease commented on #330
My use case was to open existing file and update cells with errors and then save. I was having same problems until i found this issue and solution by @ilya-payrange.

But i still was having problem of colors changing on other cells or sheets.

What worked for me was to call the code  on all cells in the sheet while looping the rows.
` cell.style = Object.create(cell.style); `

Then set your custom

[2018-11-01 17:11] IRCraziestTaxi commented on #369
I would love an option to use windows carriage returns instead of the standard \n. The app I wrote to transform data and output to CSV generates the files with \n newlines and I have to open in excel and save to get windows newlines because the ingestor that reads the files just has to have windows newlines, apparently. So it's not a huge deal - exceljs already did 99% of the work :) - but it woul

[2018-11-01 17:22] PashaFrontEnd commented on #596
@itz-azhar thanks for help, but each column have has different sizes )

[2018-11-01 23:08] LesterLyu commented on #683
Can you try ```Excel.xlsx.readFile()```.

[2018-11-01 23:16] LesterLyu commented on #664
Please try my fix: https://github.com/LesterLyu/exceljs

[2018-11-02 06:41] johnmalkovich100 commented on #683
@LesterLyu `Excel.xlsx.readFile()` is working, but unfortunately I need the stream mode because of my particular case where the file is big and need to read only first few lines.

[2018-11-02 16:07] bedsDev commented on #510
I use this one + HTML 5 File APIs to migrate my codes from server side to client side.

[2018-11-02 18:42] FriendOfTheNight opened #684 "Hyperlink Cells Randomly Changing to String Cells"
Hi,

I'm experiencing a pretty nasty bug where hyperlink cells in rows I have added change to plain string cells after adding a new row. Most of the time adding a new row does not cause the issue but it happens maybe 1/10th of the time. It only seems to affect the cells in the last row (the last row before the new row was added).

Here is how I'm adding rows:

[code]

As I cannot reproduce the iss

[2018-11-02 18:47] FriendOfTheNight commented on #684
Forgot to mention I'm using version 1.6.2.

[2018-11-02 19:43] FriendOfTheNight commented on #684
Update:

Switching to version 1.6.0 seemed to fix the issue.

When I tried 1.6.1 the hyperlinks stayed in my application but after saving the worksheet a handful of them were switched back to strings.

[2018-11-04 09:17] simonjcarr opened #685 "Password protecting workbooks"
Is there any functionality available in exceljs to protect / unprotect a workbook. If not how do other developers using exceljs get around this?

[2018-11-04 17:13] FriendOfTheNight commented on #363
Need the same as well.

[2018-11-04 18:07] FriendOfTheNight commented on #363
I just implemented my own sort function and figured I'd put it up here in case anyone finds it useful. Not very pretty but it works.

[code]

[2018-11-05 16:56] junaidinam opened #686 "[Streaming mode] Changing width after some rows was committed"
hi,

Initially, I was getting all the rows finding which row for each column has the longest length and setting column width based on that. it was working fine, but the problem occurred when I started committing each row.

I have noticed that when a row is committed, column width cannot be changed later on.

Is there a workaround for that? I really appreciate all your help.

Keep up the good job

[2018-11-06 15:29] IRCraziestTaxi opened #689 "dateFormat option for csv.writeFile does not work"
When workbook.xlsx.writeFile, I have no need to use a dateFormat because it saves the date as it was in the original workbook (in MM/DD/YYYY format), but when using workbook.csv.writeFile, the date appears as `2018-01-05T18:00:00-06:00` rather than the desired `01/05/2018` format.

My code for saving csv is:

[code]

I have also tried `MM-DD-YYYY` and `MMDDYYYY` for dateFormat, but it always comes

[2018-11-06 17:15] danieler1981 commented on #683
I have the same issue while trying to read a XLSX in streaming mode.
It's also hard to find a good example of StreamingReader - so maybe I'm using the reader in a wrong way.

[2018-11-06 18:52] leonardopolly commented on #31
@guyonroche any news on this?

[2018-11-07 16:40] BenjaminDish commented on #539
Hello,

I'm trying to load a xlsx file into a workbook using this piece of code. It seems to be a good way but I get an error.
Actually I'm just using @tamethecomplex's code trying to correct it using @guyonroche's comment, wrapping it into a promise..

Here is my code :

[code]

When using this method, I get an error :

[code]

Any idea about what make me run into this ?
Thanks

[2018-11-08 08:38] BenjaminDish commented on #91
Hello,

In case someone wants to achieve this, I succeeded doing it using Buffers (which could be quite easily converted to Stream). Here is my code.

[code]

and ExcelService.ts :

[code]

[2018-11-08 19:41] nglenno18 commented on #400
Same issue here. When the number of rows is < 100, the sorting will work, but only once. The filter disappears off of the row.

[2018-11-08 23:01] zlk89 opened #690 "Problem loading chunk Error: Cannot find module 'fs'"
See trace:
[code]

[2018-11-09 00:09] zlk89 commented on #690
For anyone who is using webpack for web application:

You need to do this:
- Add `node: { fs: 'empty' }` in webpack top level config
- You need to import exceljs like this: `import Excel from 'exceljs/dist/es5/exceljs.browser';`
  - Or add an alias like this `_.set(config, 'resolve.alias.exceljs', path.join(basePath, 'node_modules/exceljs/dist/es5/exceljs.browser.js'))`

- You cannot use `workbook

[2018-11-09 00:09] #690 closed

[2018-11-09 08:35] Pipoupi commented on #467
@FelipeRobles92 This may be because you forgot to quote your file name
[code]

[2018-11-09 13:03] FelipeRobles92 commented on #467
it just happens to me when export excel with image :(

[2018-11-10 05:17] LesterLyu commented on #684
Check: https://github.com/guyonroche/exceljs/pull/675

[2018-11-11 07:16] holm commented on #535
We have run into this alos. I wonder if we really need to initialize the cells for a given "Defined Names", or they can just be left uninitialized.

[2018-11-12 11:14] joeyzhao1023 commented on #328
mark

[2018-11-13 12:05] marko033 commented on #151
What if i want freeze not first but only second row.
When i use ySplit: 2 will be frozen first and second row but i want only second not first.
Is this possible?

[2018-11-13 12:15] marko033 commented on #365
+1

[2018-11-13 19:49] mg1075 commented on #106
Similar issue experienced when a column with _date_ values also included _null_ values. After replacing _null_ values with empty string (see https://stackoverflow.com/questions/40984737/using-alasql-can-you-replace-null-column-with-empty-string), warning no longer happened.

[2018-11-14 11:47] kaidoj commented on #467
I can confirm. This issue is still there. Same problem as OP posted.

[2018-11-14 16:16] t1hk commented on #553
There are general Excel limits of 66.530 hyperlinks per excel sheet.
[Overview of Excel Limits](https://support.office.com/de-de/article/spezifikationen-und-beschr%C3%A4nkungen-in-excel-1672b34d-7043-467e-8e27-269d656771c3)

[2018-11-15 12:11] m90 commented on #597
I'm running into the same issue. I can write multiple worksheets just fine and commit them when done, but when saved, the workbook will contain only a single sheet.

[2018-11-15 12:15] m90 commented on #597
The code to reproduce this can be as simple as

[code]

The written Excel file will only contain a single worksheet called "one".

[2018-11-15 19:19] TrevorJamesH commented on #353
@t1hk You should make a PR, I'm still seeing this issue.

[2018-11-16 01:51] dev-whiteflag opened #692 "Uncaught TypeError: Cannot read property 'prototype' of undefined"
Trace:
[code]
I'm using Angular with custom builder and extra webpack config, I added a path property to my tsconfig.json and including using `import { Borders, FillPattern, Font, Workbook, Worksheet } from 'exceljs';`

[2018-11-16 17:20] KingRial commented on #634
The same problem is discussed here: https://github.com/guyonroche/exceljs/issues/422

[2018-11-16 19:40] nowherenearithaca commented on #141
I'm guessing this is not simple :)

[2018-11-19 13:38] zonetti commented on #597
Same here. Any solution/workaround?

[2018-11-19 16:20] zl810881283 commented on #477
+1

[2018-11-19 16:21] GendelfLugansk commented on #650
@yuvpf did you find any workaround?

[2018-11-19 17:15] zonetti commented on #597
@m90 Workaround for now: downgrade it to 1.4.10

[2018-11-20 08:41] m90 commented on #597
@zonetti So for me the situation is actually a little different:

- in the meantime I found out that ExcelJS will actually write multiple worksheets, yet LibreOffice does not display these. When opened in Excel or Google Docs, they will appear
- downgrading to 1.4.10 did not change anything in that regard

[2018-11-20 10:33] m90 commented on #597
@zonetti Really strange, I am on LibreOffice `6.0.6.2`. I'll let you know if I find out anything more.

Do you have any idea what the offending change is that made the library break after `1.4.10`

[2018-11-20 10:55] zonetti commented on #597
@m90 Unfortunately, I don't. I got the idea of downgrading after using [another module](https://github.com/vikramthyagarajan/node-excel-stream/blob/master/src/excel-writer.js) for "xlsx write stream" which was using a really old version of `exceljs` and it worked.

[2018-11-20 13:01] ButuzGOL opened #693 "Convert csv data to excel data in browser"
I am using this library in browser
and i have variable with csv data like this
[code]
and want something like this ```.csvToExcel(csvData);```
is it possible or i should move csvData to array and then create excel based on array in loop or there some more simple way ?

[2018-11-21 05:22] xiebin2014 opened #694 "can not open excel on Android"
[code]
I can open it on Windows,MacOS, iOS，but can not open on Android

[2018-11-21 06:04] #694 closed

[2018-11-22 00:20] bam-tbf commented on #594
+1 I am getting this error from time to time as well.

Could it be the result of trying to get a worksheet that has been deleted? If so, how can I be sure to access the first worksheet that has data in it?

[2018-11-22 07:51] chaonsf opened #696 "Default row height doesn't work ?"
ws1.properties.defaultRowHeight=30;
but no change in height

[2018-11-22 09:47] chaonsf opened #697 "How to insert data between two rows of an existing excel"

[2018-11-22 09:48] chaonsf commented on #697
A blank face

[2018-11-22 14:05] j0hnskot opened #698 "eachRow's row.values array, always has 'null' as its first entry"
Hello,

I'm wondering, Is the below behaviour normal?
I can't understand why "null" is added in the values array. Is this by intention or am I missing something?

[code]

(using version ^1.0.0)
Thank you!

[2018-11-23 03:30] MJavedAli commented on #90
Hi , I am also facing the same issue :

Code :

 this.wb.xlsx.readFile('appConfig.xlsx').then(function(sheet){
 url= sheet.getWorksheet('Run_Config').getRow(2).getCell(2).toString();

ERROR :
(node:23852) UnhandledPromiseRejectionWarning: Error: File not found: ./ClientApp/e2e/src/Utils/appConfig.xlsx
C:\Users\xxxl\source\repos\Cert_Flow\Source\VCC.Leopard.Web\ClientApp\node_modules\exceljs\lib\xl

[2018-11-23 03:43] chaonsf commented on #697
spliceRows
But the next row has completely changed its style.

[2018-11-23 08:07] #697 closed

[2018-11-23 13:57] ianp commented on #254
Adding some extra info about this.

Updated link to the [ClosedXML project](https://github.com/closedxml/closedxml).

Here's a simple example of a named range, as it appears in the `xl/workbook.xml` file:

[code]

[2018-11-25 12:02] xang555 commented on #145
i have same issue! but i can solved it

i create new workbook and copy content from old excel file to new workbooks and save it to `.xlsx`

i think my issue occur from older version of excel  (you can not convert from xls to xlsx by using
`save as` or online convert because i tried it! not work). my issue same like #652

maybe help!

[2018-11-25 17:17] YassienW commented on #631
Same issue here on Excel 2007, quite annoying since saving files is a critical function. Opens perfectly fine with LibreOffice as well (6.1.2.1), first sheet only is shown just like @xurei

https://gist.github.com/YassienW/936a1c4bd9114d483808080af0f08199

[2018-11-26 10:39] rnukala commented on #538
Hi,

I want to display milliseconds as well,  for which I have tried the format 'DD/MM/YYYY HH:mm:ss:SSS' and this does not work. What will be the correct format for milliseconds. Thanks in advance.

[2018-11-26 18:01] JefersonC commented on #597
Downgrade to 1.4.10 working for me.

[2018-11-27 11:20] sauravsenapati1 opened #700 "showing corrupted while trying to open through window os"
Each time after generated excel file it's showing corrupted while trying to open through microsoft excel in window os. please suggest.

[2018-11-28 21:01] qo4on opened #701 "Setting numFmt hides the column"
Setting numFmt hides the column:
sheet.getColumn('D').numFmt = '# ##0.00';

[2018-11-28 21:09] qo4on commented on #458
@AJamesPhillips, I tried:
sheet.getColumn('D').numFmt = '# ##0.00';
And column became hidden. Do you know how to fix that?

[2018-11-28 21:53] AJamesPhillips commented on #458
I can't remember now @qo4on .  Looks like I set the width too as I can see in the code I did something like this:
[code]
Does that fix it for you?

[2018-11-29 11:32] dlinx commented on #354
To download on browser.

 workbook.xlsx.writeBuffer().then(function (data: Blob) {
      const blob = new Blob([data],
        { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
      const url = window.URL.createObjectURL(blob);
      const anchor = document.createElement('a');
      anchor.href = url;
      anchor.download = 'download.xls';
      anchor.click();

[2018-11-29 14:30] acamargo2017 commented on #433
How do I create style in excel  ?

[2018-11-29 18:08] CJSoldier commented on #145
hi, @hazemsamoaa .
`inboundWorkbook.getWorksheet(1);`
This is probably where the problem lies, try to replace id with sheet name.
Step into `inboundWorkbook.getWorksheet(1)` and wath `this._worksheets`, you'll find that you have several sheets but no one's id is 1.

[2018-11-30 13:39] ahdigital commented on #644
I would also like to know whether you can stop the loop from continuing if some condition is met. Did you find a solution yet @GRathinavelu ?

[2018-11-30 18:20] RGKrish183 commented on #644
Hi @ahdigital,

This is @GRathinavelu (From Personal Id),

I have tried based on which i mention previously, after some google i have go with ALASQL, use the npm of multer move the files to my server, and use the path to get the data based on my SQL QUERIES.

if i need to validate some kind of data is available or not, i have simple use select * from tbl where some quires. we don't need to loop th

[2018-12-01 11:39] Siemienik commented on #551
@yongjun925
is it works for You?
[code]

[2018-12-01 11:40] Siemienik commented on #526
@nitishmittal1990 xlsx file is a zip file, just unzip it

[2018-12-01 11:45] Siemienik commented on #416
@JediYozh @offg777
Maybe, it is solution for You, isn't it?
https://github.com/guyonroche/exceljs/blob/master/lib/doc/range.js#L103

[2018-12-01 12:01] Siemienik commented on #650
@yuvpf @GendelfLugansk
Hello guys, i fix it in pull request #702,
if You need it quicly, i have build branch in my repo:
https://github.com/p3rio/exceljs/tree/build

npm:
[code]

[2018-12-01 12:14] Siemienik commented on #467
@Trynex @jwmann @dmastag
Hello guys, i fix it in pull request #702,
comparing it to #691, i care about backward compatibility and write some test to ensure it works well.

if You need this changes quicly, i have build branch in my repo:
https://github.com/p3rio/exceljs/tree/build

npm:
[code]

[2018-12-01 20:53] JediYozh commented on #416
@Siemienik Thanks for the advice but I'm working on another project already so I don't need it anymore...

[2018-12-02 22:43] omkar-joshi commented on #365
+1

[2018-12-03 21:30] huntinghawk1415 commented on #700
Can you provide the code you used that generated the corrupted file? Perhaps it's that rather than the operating system.

[2018-12-04 08:04] PRR24 opened #703 "Special cell value results invalid file"
[code]

[2018-12-04 14:00] maxgodi commented on #615
Same error here. Need help

[2018-12-05 05:47] jhyunetp opened #704 "Doing workbook.xlsx.writeFile without page relaod in Electron"
Hi I try to write excel file in my electron App.

but whenever I do, I makes my App. to restart.

Is there any way to prevent that???

Thank you in advance

[2018-12-05 11:44] loreanvictor opened #705 "Corrupted XLSX output due to invalid sheet name"
So I noticed that while some softwares could open generated XLSX files using `exceljs` (like Numbers on MacOS and Google Sheets), Microsoft Excel (or Excel Online) was unable to open the files, giving me an error indicating that the file is corrupted. After simplifying the code and isolating the issue, I realized that for some reason MS Excel assumes a maximum length of 31 characters for Worksheet

[2018-12-05 11:52] Siemienik commented on #704
Hello @jhyunetp, I have the same issue with images (read+write to xlsx changes their possitions), I have done pull request with some fixes:
https://github.com/guyonroche/exceljs/pull/702

I also know  issue with collumn's width and row's height, i workaruond it by setting this values for each coll&row

[2018-12-06 01:12] jhyunetp commented on #704
Hello @Siemienik , Thank you for your comment.

Those are my problems and I would like to try your solution.

 Can you tell me how to apply your solution to my package via npm??
[code]
is this everything for me to use??

[code]
this is my all dependencies

[2018-12-06 02:09] JarvisQJ commented on #354
how to receive and turn the data to excel file?

[2018-12-06 02:34] JarvisQJ opened #706 "How do you transport file data from backend and receive data on frontend?"

[2018-12-06 02:35] JarvisQJ commented on #662
Same question!

[2018-12-06 02:43] JarvisQJ commented on #534
but,how to receive and turn the data to file?

[2018-12-06 07:21] Messilimeng commented on #534
@JarvisQJ more info see GitHub exceljs

[2018-12-06 22:51] Siemienik commented on #704
@jhyunetp it looks like a problem with npm, have You newer npm version?
Did You attempt to upgrading it by `npm install npm -g`

[2018-12-08 10:03] hewford commented on #451
Please answer- thanks!

[2018-12-08 12:45] qo4on commented on #458
I don't know how adapt your code for setting width of each individual column.

[2018-12-08 13:02] kaidoj commented on #467
@Siemienik as soon as i get back to that project where i used exceljs, i will try out your fix and see if that fixes my problem. Ofc its better to have tests etc. I just did it to fix my issue fast without going too deep into execeljs code.

[2018-12-08 20:08] YassienW commented on #631
I'm pretty sure it was originally created via Microsoft Excel. Right now i switched to using another library for saving files since this was sadly too inconvenient

[2018-12-09 09:15] hewford commented on #529
someone please answer this

[2018-12-09 09:24] hewford opened #707 "Please add example to how I can insert comments for a cell"
All I need to do is insert comment values for an individual cell before I export my file to xlsx. How can I do this?

With gratitude,
Hewford

[2018-12-11 09:40] kamesh95 opened #709 "Failure on writing large amount of data to excel even though using streams"
I am using exceljs with Streams but it still fails to export large amount of data due to Heap out of memory issue. My database table contains around 3 million records which I am trying to write into an excel. Any help would be much appreciated. Below is the piece of code and a screenshot of the error.
![screenshot from 2018-12-10 19-21-26](https://user-images.githubusercontent.com/16370987/4979159

[2018-12-11 09:43] naholyr commented on #678
:+1: and related to #648
Definitely a change to apply

Meanwhile you can call `workbook.addWorksheet(title, { state: 'visible' })`

[2018-12-12 15:21] awn70 opened #710 "Missing Worksheet outlineProperties"
The outlineProperties are not part of the worksheet properties (index.d.ts).
Setting them has no effect for the generated excel sheet.
Is this a bug?

[2018-12-13 17:16] Siemienik commented on #529
similar issues:
https://github.com/guyonroche/exceljs/issues/451
https://github.com/guyonroche/exceljs/issues/707
https://github.com/guyonroche/exceljs/issues/202
https://github.com/guyonroche/exceljs/issues/503

[2018-12-13 17:54] saleh199 opened #711 "Return raw data"
I have a normal data like this in my excel sheet "1-3" but when I read it by **exceljs** library it comes as a date which is wrong.

Imagen that we have these data in an excel sheet

    |  A  |  B  |  C  |
    -------------------
    | 1-3 | 3-4 | 1-2 |

And the code like this `worksheet.getCell('A1').value` or `worksheet.getCell('A1').text` and the return data comes `Wed Jan 03 2018 03:00:00 GMT

[2018-12-14 06:01] hayzem commented on #711
I am facing a similiar issue too. Is there a way to disable date detection/conversion?

[2018-12-14 16:35] tosanjayrajpal commented on #566
I am also facing the same issue, workbook.xlsx.writeBuffer() takes a long time in Edge and Internet Explorer. In chrome, this works nicely.

@Dalfons0, we need to create blob first. Your solution assumes we already have a blob. But here the problem is we're not able to generate blob in IE and Edge browser.

Is there anything that we can pass to this method to behave differently?

Any help is highl

[2018-12-17 16:52] williamluke4 commented on #676
@robophil Did you manage to solve this?

[2018-12-19 02:36] mandaputtra opened #712 "How to select row in worksheet and using eachROw to itterate over the row?"
I'm selecting a worksheet it works but when i go to select the column its says `.eachRow` is not a function.

[code]

[2018-12-19 09:05] Debiancc commented on #681
support `<img />` ?

[2018-12-19 19:21] charutiwari04 opened #713 "Uncaught EvalError: 'unsafe-eval' is not an allowed source of script in the following Content"
Hi, I am getting following error from excel.min.js for using new Function(). I am not able to use exceljs. Please help

﻿
exceljs.min.js:9 Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self':

    at new Function (<anonymous>)
    at b (exceljs.min.js:9)
    at

[2018-12-20 14:37] salterok commented on #535
@holm Don't know exactly, but we have patched this part of code and it works fine (note, that we do not use "defined names" feature and also only read files).

Here is the code that patch exceljs of version 1.1.2 to not initialize `Defined Names` if anyone interested.
[code]

[2018-12-20 15:41] edum18 commented on #690
@zlk89 thank you, couldn't find any other solution but yours to this problem

[2018-12-27 05:35] evelyn2584 commented on #642
Same question

[2018-12-27 18:36] rsatyan commented on #661
@krisstoff  -  Did you find a solution to this problem?

[2018-12-27 18:47] krisstoof commented on #661
@rsatyan Unfortunately, no. However I did used other library to parse data from xlsx file.

sheetjs

.

[2018-12-27 19:07] rsatyan commented on #661
:( Thank you. @krisstoof

[2018-12-30 13:25] calincirstea opened #714 "Worksheet State does not exist in index.d.ts"
Due to this reason it is not possible to make visible newly added worksheets.
Following gives errors when used in Agular 7:
1)            var worksheet = workbook.addWorksheet('Title');
             worksheet.state='visible'

2)  var worksheet = workbook.addWorksheet('Title',{ state: 'visible' });

[2018-12-30 20:12] vegarringdal opened #715 "not able to set border"
First off, thanks for making this
been very helpful, but Im doing something wrong when trying to add border.

using "exceljs": "^1.6.3"

this is how I add border after Ive added content
[code]

all my exceljs code..
not in correct order... all code, but showing how I use excel js atleast
everything works great excel styling..
hope it helps to see what Im doing wrong :smile:

[code]

[2019-01-02 04:06] dandv opened #716 "LibreCalc / ODS support?"
I'm a LibreCalc user, and would be interested to know if ODS support is within scope. Thanks!

[2019-01-02 07:20] sahilbhatt92 commented on #657
Thanks @zgriesinger  it worked!

[2019-01-03 12:27] sahilbhatt92 opened #718 "Unable to color cells dynamically ?"
Hi,

**Scenario:**
I have json below which i am converting it into excel.
[code]

In Excel (the position of keys and values would be):-
**Key:      Position**
Name: A1
age: B1
sampleCol1: C1
sampleCol2: D1
.....n

**Value:      Position**
my Name: A2
again my age: B2
"": C2
"": D2
.....n

**Problem:**
**Fill (property)** only accepts cell positions such as AA, AB that i cannot get from array index

[2019-01-03 14:19] lakshminarayana915213 commented on #385
Hi @mfahmirukman, can you post the sample code for streaming API usage using exceljs. I have also memory leak problem. Currently i am using writeBuffer method to write the data.

[2019-01-03 15:39] vegarringdal commented on #715
I had to add useStyles, this should be added to the readme under styles...
maybe it is, but I never saw it

[code]

[2019-01-03 15:39] #715 closed

[2019-01-03 16:08] escornwell commented on #700
I am having the same issue on macOS 10.13.6 and Mac Excel 16.20. I have reduced my CoffeeScript code to the following, and it's still reporting the file as corrupted. But with additional code to add content and formatting to the worksheet, it all looks correct in Excel after the corrupt file warning.

[code]

[2019-01-04 15:49] junaidinam commented on #685
One way to get around this is to zip your excel file and password protect that instead.

[2019-01-08 15:14] johisco opened #719 "Open Excel file not detecting any changes"
Hi! Im working with ExcelJS in an electron application.

In my app I allow the user to drag and drop an excel file into the program .... the application thereafter manipulates and saves the modified excel file with the same name. I want the user to be able to have the excel file open (in Excel) and see the changes appear.

As of now when the file is saved I have to close the Excel app and reopen

[2019-01-08 16:14] alubbe opened #720 "Project still maintained / looking for maintainers?"
Hi @guyonroche,

we've sent a couple of PRs your way that pass the test suite and are battle-tested on our production system. Our fork is growing more apart and we'd rather see the changes merged upstream, so that everyone can benefit.

On top of those open PRs that you haven't replied to we'd also like to send some more PRs your way - but are you still maintaining this project? We could also offe

[2019-01-10 01:30] Siemienik commented on #720
Hello @alubbe , I notice the same problem with this wonderful library.. I wrote some changes with tests and all whats is needed, after that my pull request has stuck
(https://github.com/guyonroche/exceljs/pull/702)

As long as it's required I am going to maintain this project as a fork here: https://github.com/p3rio/exceljs

I invite all interested in to write issues/pull request there

regards

[2019-01-10 10:08] guyonroche commented on #720
@alubbe @Siemienik
I must apologise for my lack of focus on this library. As I've mentioned I've been under heavy workload pressure from other projects and that's not likely to change soon. I know there is a great interest in the lib from yourselves and many others and I'd like to keep it going.
I think your suggestion to add maintainers is the way forward with this, would this be yourself or woul

[2019-01-10 17:02] johnmalkovich100 commented on #720
@alubbe @guyonroche that's right. But in this case add my main github account - @coldhiber, not this one (@johnmalkovich100)

[2019-01-10 20:46] Siemienik commented on #720
@guyonroche nice to hear that You are alive :) I am interested too

I sent you invitation as a owner to exceljs organisation that I had create yesterday for this library, if it makes sense for You we may use it

[2019-01-10 20:47] guyonroche commented on #720
@Siemienik that's great. Next question is, how to move the original repo into the org. The fork is missing all the PRs and issues

[2019-01-10 20:57] Siemienik commented on #720
@guyonroche  shall you try to use  "transfer option" from settings?

[2019-01-10 21:06] guyonroche commented on #720
@Siemienik done - it's all there
Would you mind terribly if I removed you and re-invited as a Member? I'd like to retain sole ownership if that's ok

[2019-01-10 21:12] Siemienik commented on #720
@guyonroche sure, that's no problem for me ;)  it's Your project, so I have just removed myself,
I want have only guarantee that this project doesn't stuck again because I am using it in some projects and have some ideas to put here

[2019-01-10 22:04] Siemienik commented on #720
@guyonroche Did you create gitter under `/exceljs`, I can't access there and i cant create new one.

[2019-01-10 22:19] ert78gb commented on #667
Max 255 characters allowed in Excel when you define list validation with sting values. If you need bigger list then define the list on other sheet and reference to that range

[2019-01-11 08:48] guyonroche commented on #720
@Siemienik - sorry, turns out Members don't get full access to the repos. I've added you as collaborator on the repo now

[2019-01-11 11:09] alubbe commented on #720
Awesome! I've noticed travis is still pointing at the old github repo, we should probably update that. And maybe have it run the tests on node 6, 8, 10 and 11.

Speaking of which, I see a lot of `var` in the files, but also arrow functions. So we are already requiring at least node v4. Would it be okay to refactor the entire code base, maybe file by file, to ES6? I'd suggest to make the changes wi

[2019-01-11 11:19] guyonroche commented on #720
I updated Travis this morning but forgot to update the README - just did this now

Yeah, the code is a mish-mash of ES3 JavaScript and ES2015+
One of the things I wanted to do after adding Babel was to update the code-base to up-to-date JS.
I'm not overly happy with grunt any more - it's throwing up a lot of npm audit problems and there are better ways to build the code now - yet another thing tha

[2019-01-11 17:35] Siemienik commented on #719
Hello @johisco,
as far as I know Excel locks opened files, so unfortunately it is not depended of this library :(

for what you want to achieve I'd try to use it:
https://docs.microsoft.com/en-us/office/dev/add-ins/excel/excel-add-ins-overview

if You found any other solutions for this issue, please share it with us ;)

[2019-01-11 17:40] Siemienik commented on #718
AA is not Cell position, its Column name

did You try to use
`woksheet.getColumn(column).fill(value)`

[2019-01-11 17:48] Siemienik commented on #713
hello @charutiwari04, did You fix it? Could you write some additional info?

[2019-01-11 17:58] vegarringdal commented on #718
Sorry if Ive miss understood to question.

But you can just loop the row then cells after the data have been added
Sample code from code I use:
PS! rows and cells looped are only the one within the data "area" of the sheet.
[code]

[2019-01-11 18:00] Siemienik commented on #712
Hello @mandaputtra
`eachRow` does not exsist.
try to use `eachCell` instead of `eachRow`

*Source Code*
https://github.com/exceljs/exceljs/blob/master/lib/doc/column.js#L151
https://github.com/exceljs/exceljs/blob/master/lib/doc/row.js#L118

[2019-01-11 18:03] Siemienik commented on #710
@awn70 could You share with some example code ?

[2019-01-11 18:05] Siemienik commented on #709
@kamesh95 did You found solution ?

[2019-01-11 18:05] sahilbhatt92 commented on #718
@Siemienik  i have not used this `woksheet.getColumn(column).fill(value)` but what should the `column` variable holds.

[2019-01-11 18:07] sahilbhatt92 commented on #718
@vegarringdal Thanks buddy! i will try this and let you know.

[2019-01-11 18:13] Siemienik commented on #705
@loreanvictor you are right,
maybe shall You write pull request with this validation? :)

[2019-01-11 18:15] Siemienik commented on #704
@jhyunetp could you write if it works for You?
Regards

[2019-01-11 18:22] Siemienik commented on #718
@sahilbhatt92
https://github.com/exceljs/exceljs/blob/master/lib/doc/worksheet.js#L170
string (eg. `A`) or number (eg. `1` for column `A`)

@vegarringdal :+1:

[2019-01-11 18:22] vegarringdal commented on #718
@sahilbhatt92

For complete solution from extracting csv data -> sqllite -> excel have a look here
https://github.com/vegarringdal/checkFile

[2019-01-11 20:48] Siemienik commented on #698
Hello @j0hnskot,
indexing in xlsx files starts from number 1 (eg. `A1` point to row `1` and collumn `1`)
setting `null` at the start is much easier than always recalculating from 0 based to 1 based indexing

[2019-01-11 20:48] #698 closed

[2019-01-11 21:51] Siemienik commented on #693
@ButuzGOL,
i see 2 options:

1.
[code]
2. with [string-to-stream](https://www.npmjs.com/package/string-to-stream) package:
[code]

let's try both and choose this one what is better for you ;)

[2019-01-11 22:17] Siemienik commented on #689
@IRCraziestTaxi  is cell type of Date?

[2019-01-11 22:35] Siemienik commented on #684
Hello @FriendOfTheNight, did You resolve it or has any additional information?

[2019-01-11 22:41] Siemienik commented on #681
@mrclay thanks for this code, I will remember about it  ;)

[2019-01-11 22:41] #681 closed

[2019-01-11 22:47] Siemienik commented on #678
PR: https://github.com/exceljs/exceljs/pull/621

[2019-01-11 22:47] #678 closed

[2019-01-11 23:04] Siemienik commented on #674
@IRCraziestTaxi Did you manage to solve this

[2019-01-11 23:08] FriendOfTheNight commented on #684
Hi @Siemienik,

The issue went away as I was fixing and working around other bugs I encountered so I can't say for sure what fixed it. The application I built with it is using 1.6.0 now and starts with a template file where the last few rows never change so I think that might have been what fixed it. I also had to implement a sort by column function where I had to loop through the rows and add the

[2019-01-11 23:31] #659 closed

[2019-01-11 23:36] Siemienik commented on #669
@huntinghawk1415 do you know now what was happen?

[2019-01-11 23:41] #667 closed

[2019-01-11 23:51] Siemienik commented on #665
@CalibanAngel `Cell` has getters for `col` and `row` numbers:
https://github.com/exceljs/exceljs/blob/master/lib/doc/cell.js#L116
https://github.com/exceljs/exceljs/blob/master/lib/doc/cell.js#L119

in fact `fullAddress` should be defined as:
[code]

[2019-01-12 00:04] Siemienik commented on #661
@krisstoof @rsatyan
https://www.npmjs.com/package/save-as used on frontend

[2019-01-12 00:06] Siemienik commented on #662
@hewford @JarvisQJ
https://www.npmjs.com/package/save-as used on frontend

[2019-01-12 00:06] #662 closed

[2019-01-12 00:14] Siemienik commented on #661
@krisstoof @rsatyan
I am using same workflow like @krisstoof and I've never had this error..

Did you try use absolute path ?

[2019-01-12 00:31] Siemienik commented on #658
Just add this before your script: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill

[2019-01-12 00:32] #658 closed

[2019-01-12 00:37] Siemienik commented on #684
@FriendOfTheNight thanks

[2019-01-12 00:37] #684 closed

[2019-01-12 01:05] huntinghawk1415 commented on #669
@Siemienik Still no idea. The code is a little abrasive to look at to uncover the true cause after a while, so I decided to go with another option for editing the Excel file.

That said, if it helps, the last thing I was able to determine was it was only an issue with already existing Excel files. Files created using exceljs did not exhibit the same behavior and worked as expected.

[2019-01-12 21:48] Siemienik commented on #669
@huntinghawk1415 could I please for example file?

[2019-01-12 22:05] #23 closed

[2019-01-12 22:11] huntinghawk1415 commented on #669
The file I was using contains sensitive data from my company, so I cant share that file. But when I have some time later today or tomorrow I can try to recreate the issue for you with a different file.

[2019-01-12 22:34] #100 closed

[2019-01-12 22:40] #112 closed

[2019-01-12 22:49] Siemienik commented on #84
#76

[2019-01-12 22:49] #84 closed

[2019-01-12 22:49] Siemienik commented on #656
#76

[2019-01-12 22:49] #656 closed

[2019-01-13 00:09] Siemienik commented on #669
@huntinghawk1415  sure, thanks

[2019-01-14 08:09] awn70 commented on #710
I want to set the summaryBelow property for the sheet:
`sheet.properties.outlineProperties = { summaryBelow: false };`

The outlineProperties are not available in the index.d.ts file.

[2019-01-14 17:26] Siemienik commented on #669
pull request opened
@huntinghawk1415 thanks for details, it was really helpful ;)

[2019-01-14 18:19] charutiwari04 commented on #713
Hi @Siemienik, I am not able to solve it. This is what i have. the above error is content security policy error.

[2019-01-14 18:33] Siemienik commented on #713
@charutiwari04 have you any example?

[2019-01-14 18:46] charutiwari04 commented on #713
@Siemienik Here it is. Below function is being called when button is clicked.
[code]

[2019-01-14 19:11] Siemienik commented on #713
@charutiwari04 I've just tested your example, and I note, that the wrong data type pushed into `addRows` cause thrown errors.

`this.props.data` should be array. is it?

[2019-01-14 22:30] Siemienik commented on #128
https://github.com/exceljs/exceljs/issues/123

[2019-01-14 22:38] Siemienik commented on #124
closed: lack of activity

[2019-01-14 22:38] #124 closed

[2019-01-14 22:40] #142 closed

[2019-01-14 22:40] Siemienik commented on #144
@gbhasha is it still happen?

[2019-01-14 22:42] Siemienik commented on #147
Excel uses pixels behind of cm

[2019-01-14 22:42] #147 closed

[2019-01-14 22:44] #153 closed

[2019-01-14 22:50] Siemienik commented on #59
https://github.com/exceljs/exceljs/blob/master/lib/xlsx/xform/style/border-xform.js#L119

[2019-01-14 22:50] #59 closed

[2019-01-14 22:51] #158 closed

[2019-01-14 22:53] #171 closed

[2019-01-14 22:56] #183 closed

[2019-01-15 09:03] papandreou commented on #713
Does it work if you add `script-src 'unsafe-eval'` to the Content-Security-Policy of the web page (or Chrome Extension or whatever) that you're trying to use exceljs on, as the error message suggests?

It looks like the "dist" version of the lib does contain `new Function`, which would explain why that directive is needed.

[2019-01-15 11:59] kamesh95 commented on #709
@Siemienik No, not yet. I didn't get much time to look into this at a lower level. Maybe I am gonna try it this weekend and let you know if I find anything.

[2019-01-15 14:04] boulepick opened #723 "Splitting worksheet?"
Hi There,

is there a way to split a worksheet into multiple smaller worksheets so that work can be performed to this worksheets. i'm trying to use the the "excel-as-json" module to convert excel to json but running into memory issues for excel sheets that have more than 100000 rows.

[2019-01-15 14:19] gonzobard777 commented on #460
using `.writeBuffer()` instead of `.writeFile()` is the right way, see example:
[https://www.codeproject.com/Tips/1251189/%2FTips%2F1251189%2FExcel-Export-from-Angular-2plus](https://www.codeproject.com/Tips/1251189/%2FTips%2F1251189%2FExcel-Export-from-Angular-2plus)

[2019-01-15 17:52] charutiwari04 commented on #713
@papandreou Perfect Solution. It is working for me. Thank You.

[2019-01-15 18:33] icopp opened #724 "Use of JSZip breaks on projects breaks for projects that use @babel/preset-env"
- `jszip` uses a `require("core-js/library/fn/set-immediate")` statement at one point
- A Babel build with `@babel/preset-env` and `"useBuiltIns": "entry"` uses a custom-minified version of `core-js` including only the polyfills needed to make the list of that project's supported browsers work
- The resulting bundle doesn't include `setImmediate` (because nothing in the bundle actually references

[2019-01-15 18:50] junaidinam commented on #686
@Siemienik No. I think author is busy nowadays. If you like we can work on it together. I really like this library and would like to enhance its functionality. Please let me know!

[2019-01-16 15:03] levi-x00 opened #725 "Key error passed silently"
I just spot this, I think there should be an error handler for this

[code]
it took me hours to debug it.

Best Regards

Levi

[2019-01-16 22:39] Siemienik commented on #686
@junaidinam nice to hear that, please make a pull request and add `@Siemienik`  in description, I promise to review it as quick it's possible,

any way I don't know how often new versions will be published - I have no power to do that ;(

[2019-01-16 22:45] Siemienik commented on #129
https://docs.aws.amazon.com/sdkfornet1/latest/apidocs/html/M_Amazon_S3_Transfer_TransferUtility_Upload_1.htm

[2019-01-16 22:45] #129 closed

[2019-01-16 22:46] #68 closed

[2019-01-16 22:48] #197 closed

[2019-01-16 22:49] #195 closed

[2019-01-16 22:49] #178 closed

[2019-01-16 22:50] Siemienik commented on #178
it seems be resolved

[2019-01-17 01:30] #113 closed

[2019-01-17 01:33] Siemienik commented on #223
It currently looks it working properly. @adrien-candiotti please reopen if iam wrong

[2019-01-17 01:33] #223 closed

[2019-01-17 06:51] nkagarw commented on #246
Hi, I tried to set the result to undefined :

`workbook.getWorksheet(1).getCell('N6').result = undefined;
`

But i'm getting this error :

` (node:6392) UnhandledPromiseRejectionWarning: TypeError: Cannot set property result of [object Object] which has only a getter`

Looks like cell.result is just a getter. How can I set the result to undefined ?

[2019-01-17 06:52] nkagarw commented on #230
Hi, I tried to set the result to undefined :

`workbook.getWorksheet(1).getCell('N6').result = undefined;
`

But i'm getting this error :

` (node:6392) UnhandledPromiseRejectionWarning: TypeError: Cannot set property result of [object Object] which has only a getter`

Looks like cell.result is just a getter. How can I set the result to undefined ?

[2019-01-17 11:25] e-ndrus opened #726 "How to insert data into merged cell of an existing Excel file?"
Is there a way to insert data into a merged cell of an existing Excel file?

I am trying to do something like this:

[code]

The error message is TypeError: Cannot read property 'getRow' of undefined.

[2019-01-17 13:36] Siemienik commented on #230
@nkagarw
1. [`result` is getter](https://github.com/exceljs/exceljs/blob/master/lib/doc/cell.js#L227)
2. to set result please access by `workbook.getWorksheet(1).getCell('N6').value.result = undefined`
3. It's recommended to check condition `cell.type ===Cell.Types.Formula' before

[2019-01-17 13:36] #230 closed

[2019-01-17 13:50] Siemienik commented on #726
@e-ndrus
worksheet with id `1` doesn't exist

let's use `workbook.worksheets[0]` instead of `workbook.getWorksheet(1)`

It's possible to access id of first worksheet:
`console.log(workbook.worksheets[0].id)`

[2019-01-17 13:59] Siemienik commented on #246
#230

[2019-01-17 13:59] #246 closed

[2019-01-17 14:00] #170 closed

[2019-01-17 14:05] Siemienik commented on #229
currently it is `"moment": ">=2.19.3"`

[2019-01-17 14:05] #229 closed

[2019-01-17 14:08] #109 closed

[2019-01-17 14:10] #248 closed

[2019-01-17 14:18] #250 closed

[2019-01-17 14:18] Siemienik commented on #250
https://github.com/exceljs/exceljs/issues/165

[2019-01-17 14:20] Siemienik commented on #260
@alessandroniciforo @gaberoo currently it should be included in exceljs, Could you check it?

[2019-01-17 14:22] Siemienik commented on #273
Excel uses pixels, it only display value in cm/mm

[2019-01-17 14:22] #273 closed

[2019-01-17 14:25] Siemienik commented on #277
#83 #450 #583

[2019-01-17 14:25] #277 closed

[2019-01-17 14:26] Siemienik commented on #450
#83

[2019-01-17 14:26] #450 closed

[2019-01-17 14:36] #307 closed

[2019-01-17 14:55] e-ndrus commented on #726
@Siemienik, hm, unlike my code above the suggested solution doesn't create a new file with updated content from the old one. My code above works on a cell unless it is a merged cell. What am I missing?

[2019-01-17 21:11] coldhiber commented on #323
@adarshlilha still actual?

[2019-01-18 04:36] tinhnqjp commented on #591
#292, copy with merge cell

      var ws1 = workbook.getWorksheet('demo');
      let copySheet = workbook.addWorksheet('newdemo');

      copySheet.model = Object.assign(ws1.model, {
        mergeCells: ws1.model.merges
      });
      copySheet.name = 'new demo';

[2019-01-18 05:17] nkagarw commented on #230
Unfortunately, setting cell.value.result to undefined is not causing excel to recalculate the formula automatically when I open the output in excel. I'm forced to do Ctrl+Alt+Shift+F9 to recalculate the formula.

I simply have A1 set to value 'Hello' and A2 set to '=A1' in the original sheet. I read it using exceljs and update A1.value='Hi' and A2.value.result=undefined. Then, I write it using exc

[2019-01-18 14:05] #645 closed

[2019-01-18 18:32] Siemienik commented on #230
@nkagarw thanks

[2019-01-18 22:09] #726 closed

[2019-01-19 01:38] #591 closed

[2019-01-19 01:42] Siemienik commented on #85
should be `end`
https://stuk.github.io/jszip/documentation/api_streamhelper/on.html

[2019-01-19 01:42] #85 closed

[2019-01-19 01:49] Siemienik commented on #101
@yashgt
[code]
https://bettersolutions.com/excel/formulas/cell-references-a1-r1c1-notation.htm

 if you need use 'relative' mode to create file, the best way is counting addresses,
hack to map column number & row number to address is
[code]

[2019-01-19 01:49] #101 closed

[2019-01-19 01:51] Siemienik commented on #116
@Falven, is it still actual?

[2019-01-19 01:58] Siemienik commented on #251
@neeraj87 for me it's working

is it still actual?

[2019-01-19 01:58] #252 closed

[2019-01-19 02:01] Siemienik commented on #227
probably it's `xls` file instead of `xlsx` #148

[2019-01-19 02:07] Siemienik commented on #268
#276

[2019-01-19 02:07] #268 closed

[2019-01-19 02:11] Siemienik commented on #269
#37

[2019-01-19 02:11] #269 closed

[2019-01-19 02:11] Siemienik commented on #354
#269 #37

[2019-01-19 02:11] #354 closed

[2019-01-19 02:31] Siemienik commented on #302
probably fixed in #722

[2019-01-19 02:33] Siemienik commented on #63
is it still actual?

[2019-01-19 03:31] duxy-ios opened #729 "append data to exising excel with stream"
Hey ,

Nice to use exceljs, great job!
when i use stream writer, one million data used 2.5G RAM,  can i reduce memory by  commit multiple times ,Or do you have any other suggestions?
i had trying fs.createWriteStream with 'a' flag but finaly could not open the  Generated xlsx
[code]

Thanks,

[2019-01-19 11:07] Siemienik commented on #729
@duxy-ios , are You using `writerStream.end()`?

[2019-01-20 20:50] #298 closed

[2019-01-20 20:53] #313 closed

[2019-01-20 20:54] #238 closed

[2019-01-20 20:54] #177 closed

[2019-01-20 20:56] #335 closed

[2019-01-20 20:58] #299 closed

[2019-01-20 20:59] #511 closed

[2019-01-20 21:00] #348 closed

[2019-01-20 21:01] #167 closed

[2019-01-20 21:01] Siemienik commented on #344
https://github.com/exceljs/exceljs/pull/702

[2019-01-20 21:09] Siemienik commented on #346
one of this should work
[code]

[2019-01-20 21:09] #346 closed

[2019-01-20 21:11] #82 closed

[2019-01-21 09:00] tinhnqjp commented on #631
**Maybe you are like my cause.**
I also have problems like you. Using a template XLSX file-> fill content with exceljs nodejs -> convert to PDF file with libreOffice. But it cannot display all sheets.
https://stackoverflow.com/a/54286302/3085133

[2019-01-21 10:15] alubbe commented on #720
@guyonroche we now have a number of PRs that we think can be merged - could you give us the rights to do so, or what's your plan on doing that? if you want to go through them yourself, should we schedule a time where we are all online and discuss the PRs together and do a release afterwards?

[2019-01-21 21:01] Siemienik commented on #362
https://github.com/exceljs/exceljs#remove-a-worksheet

[2019-01-21 21:01] #362 closed

[2019-01-21 21:03] Siemienik commented on #384
#348 #303 #511

[2019-01-21 21:03] #384 closed

[2019-01-21 21:04] Siemienik commented on #303
#348

[2019-01-21 21:04] #303 closed

[2019-01-21 21:05] Siemienik commented on #511
#348

[2019-01-21 21:08] Siemienik commented on #390
I don't think it's fine as a default behavior

[2019-01-21 21:11] Siemienik commented on #391
@Chronicless could You upload here blocked file?

[2019-01-21 21:13] Siemienik commented on #392
@ayanth could I please You to upload example file?

[2019-01-21 21:15] Siemienik commented on #393
@emknbaker could You write example code here?

[2019-01-21 21:18] #387 closed

[2019-01-21 21:39] anthonybarbatto opened #730 "Worksheet "Header & Footer" Text"
I have a worksheet that includes data in the header & footer (not column headers) and I'm wondering if this text is accessible via the worksheet object? I've been looking through the code but haven't seemed to find it.

In the screenshot below, I'm interested in getting the Month, Year text.

Thank you!

![2019 2019-01-21 13-09-45](https://user-images.githubusercontent.com/744609/51499206-32fc6f80

[2019-01-21 22:22] Siemienik commented on #413
`Cell` class has defined a lot of getters, for example `model` is very useful:)
https://github.com/exceljs/exceljs/blob/master/lib/doc/cell.js#L289

[2019-01-21 22:22] #413 closed

[2019-01-22 13:31] #719 closed

[2019-01-22 13:31] Siemienik commented on #716
lack of activity

[2019-01-22 13:31] #716 closed

[2019-01-22 13:32] #712 closed

[2019-01-22 13:33] Siemienik commented on #706
https://www.npmjs.com/package/file-saver

[2019-01-22 13:33] #706 closed

[2019-01-22 13:34] #718 closed

[2019-01-22 13:35] #660 closed

[2019-01-22 13:36] Siemienik commented on #98
lack of activity

[2019-01-22 13:36] #98 closed

[2019-01-22 13:36] Siemienik commented on #115
lack of activity

[2019-01-22 13:36] #115 closed

[2019-01-22 23:21] Siemienik opened #731 "Some media has been lost when read&write file"
I have `jpg` and `png` images putted into xlsx file, all `.png` has been lost after read and write file.

[2019-01-23 02:11] spacem commented on #483
We used appInsights.setup().setAutoDependencyCorrelation(**false**) and the problem went away.

I am not sure what that does exactly but other people seem to have similar problem eg:
https://github.com/Microsoft/ApplicationInsights-node.js/issues/409

[2019-01-23 10:57] Zoharyal opened #732 "Corrupt file on windows"
I'm writing on a blank xlsx file, created on windows. The file is corrupted on windows, i can open it on libreoffice on my  laptop, google sheets on google drive open it too. Only excel on windows cannot open it.

[2019-01-23 10:57] #732 closed

[2019-01-23 22:44] ayanth commented on #392
@Siemienik I'm very sorry. This issue is so old I have moved on a while ago. I cannot recall what is was all about.

But just for archiving purpose in case someone find this, can you answer the question? Does exceljs support form controls?

Thank you

[2019-01-24 04:43] Siemienik commented on #392
@ayanth probably no  - I am not really sure about that - I've never used form controls, so any example file will be useful.

I had similar issues with media types: #702 #731 there was a bug inside reader and writer

[2019-01-24 05:26] WebdevMerlion opened #733 "Writing to file with images concurrently"
Ok, guys. I have a json includes a remote url of image. trying to get images and add to worksheet by Promise.all http.get. So code is:

`

      const getImage = (url, book, sheet, sizeOf, row, column) => new Promise((resolve, reject) => {

        const request = https.get(url, response => {
            if(response.statusCode === 200){

                let chunks = [];

                const imag

[2019-01-24 12:17] Siemienik commented on #733
Hello @WebdevMerlion , I've just quick read Your code without deep analyzing, I noted only:
AD.
[code]
should be `header` instead of `Header`

I hope it is helpful for You ;) I'll come back here when I will have more time.

[2019-01-24 12:24] #213 closed

[2019-01-24 12:30] Siemienik commented on #339
#441 #180

[2019-01-24 12:30] #339 closed

[2019-01-24 12:31] Siemienik commented on #441
resolved in #339

[2019-01-24 12:31] #441 closed

[2019-01-24 12:36] Siemienik commented on #180
Class `Range` has getters `top`, `bottom`, `left`, `right`, just use them to iterate through cells

[2019-01-24 12:36] #180 closed

[2019-01-24 12:38] Siemienik commented on #379
#339 #180  #441

[2019-01-24 12:38] #379 closed

[2019-01-24 12:49] #240 closed

[2019-01-24 12:51] #433 closed

[2019-01-24 12:55] Siemienik commented on #447
in line `cell_Val_2 = row.getCell(2).valu,`, should it be **value**?

[2019-01-24 12:55] #447 closed

[2019-01-24 13:00] Siemienik commented on #449
@marijanlekic is still actual?

[2019-01-24 21:29] paustint opened #734 "Add support for backpressure indication when using streams"
I have a use-case where from my server I am fetching paginated data from a remote server and turning it into a streaming XLSX file download to the user.  I might have to fetch data 50+ times to get all the data, and have a queue to manage concurrency.

The problem comes when we are fetching data faster than the user is downloading the data, and we keep pushing more and more data on, which causes m

[2019-01-24 22:41] jonimoas commented on #458
Fell on exactly the same issue. I can confirm @AJamesPhillips 's solution. When altering the style, you have to explicitly set the width attribute or else the column will be hidden

[2019-01-25 06:18] #729 closed

[2019-01-25 13:45] Siemienik commented on #476
#468

[2019-01-25 13:45] #476 closed

[2019-01-25 13:46] Siemienik commented on #468
https://github.com/exceljs/exceljs/issues/348#issuecomment-320690232

[2019-01-25 13:46] #468 closed

[2019-01-25 13:51] #324 closed

[2019-01-25 13:52] #347 closed

[2019-01-25 13:56] #79 closed

[2019-01-26 17:18] simonjcarr commented on #685
@Siemienik I am not looking to prevent people for seeing my workbooks. I want to send a workbook to a supplier with everything locked other than the cells I want them to fill in and then send back to me.

[2019-01-27 22:43] rclai commented on #709
I am having this issue as well when exporting a lot of data. Posting to subscribe.

[2019-01-28 16:32] IRCraziestTaxi commented on #689
@Siemienik Apologies for the delayed response. Yes, I did ensure that the cell in question is of type Date.

[2019-01-29 02:04] zypA13510 commented on #337
Possibly a duplicate of #91.

[2019-01-29 02:07] zypA13510 commented on #668
See also #91 #337.

[2019-01-29 08:55] alubbe commented on #615
can you please a complete example that we can run? that would really help with debugging

[2019-01-29 11:34] nimatullah commented on #615
@alubbe , one more thing. It works find on ubuntu server. When I dockerize my application I recieve this error. I have created gist for all my docker and docker-compose files. pleaset look at https://gist.github.com/nimatullah/3f4927ccb973ba1fd292d56c33fca81e

[2019-01-29 16:55] matiullah-netlinks commented on #615
@alubbe I have the same issue, and still waiting for your answer

[2019-01-30 01:21] markwolff commented on #483
This was probably caused by app insight's usage of zone.js, which patches Promise. It has since then been updated to not use zone.js anymore in the latest version `1.1.0`.

[2019-01-30 10:57] priyankhcrm commented on #667
Is there any paid service where we could take maximum characters

Thanks

Priyank Joshi

From: Róbert Kiss [mailto:notifications@github.com]
Sent: Friday, January 11, 2019 3:50 AM
To: exceljs/exceljs
Cc: priyankhcrm; Author
Subject: Re: [exceljs/exceljs] Having issue the large size of item to the data validation on list with Exceljs (#667)

Max 255 characters allowed in Excel when you define list

[2019-02-01 12:34] anish-techpro opened #735 "After exporting an excel using the following code, if I try to upload the .xlsx file to a laravel backend, it says "The file must be a file of type: pdf, doc, docx, ods, xlsx, xls, ppt, pptx.""
[code]
I am passing the generated workbook to the saveAsExcelFile() function and exporting the file.
After the file is exported, I am unable to upload the file in my project (Laravel Backend). The error says 'The file must be a file of type: pdf, doc, docx, ods, xlsx, xls, ppt, pptx.'.
Please tell me if I am doing something wrong here.

[2019-02-03 21:12] kticka opened #738 "Keep original image dimensions"
How to keep original image dimensions instead stretching it through cells? Why top-left position isn't enough when inserting image?

[2019-02-04 14:52] Aymkdn commented on #412
I have the same issue. My file has almost 1 million rows (file size is 40MB).

It's the read operation on the file that fails ( `workbook.xlsx.readFile("Audit_Log.xlsx")`)...

I'm not sure how to make it work.

[2019-02-05 10:48] anish-techpro commented on #735
Please respond. I am in the middle of a project where I need to implement an "Export" feature, which I did using this package. But when I am trying to upload the exported file, I am getting validation error & upload fails. Help is very much appreciated

[2019-02-05 13:28] Gildewarz777 opened #739 "Excel file not opening on every plateform with Node"
Hello, I am currently struggling with opening the file generated by exceljs (v1.7.0) on MS Excel. I can open it but Excel (v16.21.1) says that some styling were not imported and no styling is taken into account.
<img width="433" alt="capture d ecran 2019-02-05 a 14 34 12" src="https://user-images.githubusercontent.com/10724721/52276725-39c8dc00-2953-11e9-9d40-2f7ad5830c3e.png">
[EN Traduction] - "

[2019-02-06 10:28] nick-keller commented on #739
We actually have the same issue, I cannot get rid of the warning message when opening generated files with MS Excel but opening it in Google drive work fine.
I also lose some styling in Excel.

[2019-02-06 13:36] AkashSURYAWANSHI opened #740 "Unhandled Exception when merged cells have no value"
application crashes abruptly when trying to read information from merged cells with no text value.

[2019-02-07 16:04] guyonroche commented on #720
@alubbe sorry, I've been really busy (still). I assumed you would all have the rights to merge. Is this not so?
Which PRs were you interested in?

[2019-02-07 16:13] guyonroche commented on #720
As for release checks, just the usual suspects...
* I try to add some kind of test for new features and especially for bug fixes.
* Travis should be green
* README.md should be updated - the New Features! section is copied to the Release History section (with appropriate version) and any changes documented
* I try to follow semver so new version will depend on those changes.

[2019-02-08 12:05] mbenzenhoefer commented on #680
I have the same issue. Adding a further condition before assigning fixes the issue but I do not have any idea if this fixes the issue or if it just covers it:

lib/xlsx/xform/drawing/two-cell-anchor-xform.js:141
[code]

What do you think?

[2019-02-08 14:41] kaytrance opened #741 "Stream to response?"
Is it possible to use `workbook.xlsx.write()` to "write" to `response` object of `express` in `nodejs`?

[code]

[2019-02-08 16:09] IgnatovDan opened #742 "Low Performance."
Hello,

Currently I am reviewing your library to see whether or not I can use it instead of my own implementation.

For now, I found the only issue with performance:
* [6-7s with our implementation, click the 'Click me to start DataGrid ExcelExport and wait 5-10 secs (there is no visual progress)' button](https://codepen.io/DanIgnatov/pen/qgxbXd)  to export [20000 x 50] array
* [15-20s with ExcelJ

[2019-02-08 17:10] alubbe commented on #720
yeah none of us have the rights to merge - would you mind granting us that?

regarding the PRs, I think it would be great if you could give your opinion on https://github.com/exceljs/exceljs/pull/702 and https://github.com/exceljs/exceljs/pull/722 as well as https://github.com/exceljs/exceljs/pull/736/files

then, I'd suggest to merge https://github.com/exceljs/exceljs/pull/727 - I will volunteer

[2019-02-09 14:39] fbele opened #743 "DPI scaling interferes in the height of rows"
Hi,
I am using my laptop that is connected with an external monitor for developing my excel file export. This monitor has a default setting of 100% DPI scaling by Windows.
When I set height of a row, for example `worksheet.getRow(1).height = 50` and then export (download) and open the file in Excel, the height of the row is as expected, 50.

But, when I unplug the monitor from the laptop, I have a

[2019-02-09 14:47] fbele opened #744 "Column width not accurate"
Hi,
If I want to define the column width, I need to add to almost every width a value of 0.71. So if I want a width of 12, I need actually to define it like `column.width = 12.71`.
Only when it comes to the width of less then 1, this addition actually varies.

Does anybody have an experience, what could cause such a behavior?

Thanks

[2019-02-12 09:46] QingNeng commented on #390
I get same in Windows

[2019-02-12 12:53] papandreou commented on #390
This suggestion seems to pop up in many libs that write files, eg. https://github.com/lovell/sharp/issues/1052#issuecomment-349401421

I'd personally find it too surprising, and it's really no trouble to just `mkdirp` the directory beforehand. Doesn't make sense for every library to onboard this complexity.

[2019-02-13 10:23] Spandana-Gajangi commented on #242
I have same requirement as @stableShip , Is this fixed

[2019-02-14 11:13] UsharaniA opened #745 "Excel file corrupted after writing"
Hi,
I try to compare two sheet and highlight the difference and all of sudden am seeing my excel is corrupting.
Am using exceljs 1.7.0 version and am writing here after trying all possiblity by fixing the async issues.

async function compareTwoSheetsbyRows() {
    try {
         // var filePath = resultfolderpathfinal ;
        var filePath = resultfolderpath + "\\UnsavedReportExport.xlsx";

[2019-02-15 02:12] xinnian1992 opened #747 "How to return json to browser！thank you"
[code]

[2019-02-18 22:00] #390 closed

[2019-02-18 22:22] Siemienik commented on #744
@fbele may I please You to share with code?

[2019-02-18 22:25] Siemienik commented on #743
hmm... it's really interesting, I have similar display set and It's work fine for me.

anyone can write some more info?

[2019-02-18 22:55] Siemienik commented on #742
@IgnatovDan thank you for test, could I please You to give me repo with benchmark ?

[2019-02-18 22:59] Siemienik commented on #741
[code]

[2019-02-18 23:00] #741 closed

[2019-02-18 23:03] Siemienik commented on #680
@mbenzenhoefer  it will be really great to do PR with fix, would You do it? :D

[2019-02-18 23:09] Siemienik commented on #739
honestly in some files I have same issue, I didn't point  source of this error ;( If You have any idea what is the reason I will be really thankful ;)

[2019-02-18 23:11] Siemienik commented on #412
@Aymkdn @GeorgeAnanthSoosai
If you could, any example code will be useful to reproduce this issue.

[2019-02-18 23:12] Siemienik commented on #738
#702

[2019-02-18 23:20] Siemienik commented on #668
@msedek in my project i do similar functionality by use two readers on the same template file.
first reader is for reading "commands" form templates,
second reader is for editing and later write edited content to another file called 'output'

for example when read command "next row" i increment position in both readers
other commends: write, for each, continue, end for each, etc

[2019-02-18 23:31] Siemienik commented on #615
are you trying use `await xlsx.writeFile()`?

[2019-02-19 00:12] Siemienik opened #748 "Backlog"
Hi, I think we should update our backlog and add:
1. Performance
2. clean up issues

[2019-02-19 04:40] matiullah-netlinks commented on #615
@Siemienik `workbook.xlsx
    .writeFile(xlPath)
    .then(() => {
        sendJsonResponse(res, 200, "ok");
    })
    .catch(error => {
        sendJsonResponse(res, 500, error);
    });`

[2019-02-19 18:50] jayden-chan opened #749 "Internal Hyperlink generation is broken on Windows"
The following example works correctly on macOS/Linux, but not on Windows:

[code]

For the hyperlink value I have tried:
[code]
and a few others. None work.

[2019-02-19 19:32] Siemienik commented on #615
@matiullah-netlinks
[code]
could You check this one?

[2019-02-19 20:02] #714 closed

[2019-02-19 20:16] fbele commented on #743
Hi,

I think I actually resolved the issue by myself.
The only thing that I did is added 'views' property to my worksheet and it got in order. One can add just an array with an empty object as a value and it is ok.

`        const worksheet = workbook.addWorksheet('Sheet', {
            views: [{}]
        });`

Although I do use 'zooming' parameter of the 'views' property, 'defaultRowHeight' para

[2019-02-19 20:37] fbele commented on #744
Hi,
I just have a normal worksheet:

`const worksheet = workbook.addWorksheet('Sheet', {views: [{}]);`

And then I am adding my columns like following:

`
        worksheet.columns = [
            { key: 'A', width: 3.71 },
            { key: 'B', width: 5.42 },
            { key: 'C', width: 74.71 },
            { key: 'D', width: 22.71 },
            { key: 'E', width: 16.57 },
            { key

[2019-02-20 11:13] Aymkdn commented on #412
@Siemienik here you go: https://github.com/Aymkdn/exceljs-issue-412

Very simple repo/code.

[2019-02-20 11:15] fbele opened #750 "Printing generated Excel file or converting it to PDF"
Hi,

This subject is not an issue, rather an inquiry.
Instead of downloading the generated Excel File, I would like to print it straight away using browser.

So, the idea is that the standard Print Preview would be shown, where the user could send the file directly to the printer to print it.

The other possibility would be to generate the file straight to PDF and the PDF can be downloaded then.

[2019-02-21 05:11] Ponvijaykumar opened #751 "Need one live demo"
We need one live demo for exceljs (http://jsfiddle.net/ Or any other site demo)

[2019-02-21 08:34] IgnatovDan commented on #742
Thank you for the reply.
I would like to help you to improve this scenario but it is not clear what is the 'repo with benchmark'?

Right now I created two simple pages at codepen.io (see my first comment):
* [6-7s with our implementation, click the 'Click me to start DataGrid ExcelExport and wait 5-10 secs (there are no visual progress)' button](https://codepen.io/DanIgnatov/pen/qgxbXd)  to export

[2019-02-21 10:13] IgnatovDan commented on #748
I would prefer Performance: generate [10000 rows x 50 cols] xlsx file in 3 seconds ([see conversation](https://github.com/exceljs/exceljs/issues/742))

[2019-02-21 10:46] IgnatovDan commented on #739
This message can be caused by an incorrect order of some nodes in internal styles.xml/sheet1.xml/... files, or by an incomplete set of values, or by an incorrect (non xml) content in these files... To investigate such issues, I tried to create as simple content as possible and to save it. Then, I created the same content manually in Excel, saved it and compared the resulting files.

In your code,

[2019-02-22 01:55] kulukyo opened #752 "load() is not exposed in interface definition"
load() is good way to load buffer data, it's already there in xlsx implementation but not exposed in interface definition. Also it's not supported by csv.

[2019-02-22 14:12] Gildewarz777 commented on #739
Hi,
I've created a worksheet with **nothing** on it, but I still get the errors.
Here is the code :
[code]

Here is the xml that results from the generated xlsx file:
[code]

And here is the xml when I import the xlsx on Google Spreadsheet and download it in xlsx from there:
[code]

The error is definitely in this, as I can open the xlsx generated from Google Spreadsheet no problem. If you have an

[2019-02-22 18:03] Gildewarz777 commented on #732
I seem to have the same problem [here](https://github.com/exceljs/exceljs/issues/739). What happens if you create a simple file with nothing on it, just a spreadsheet?

[2019-02-23 08:44] jacobopolavieja commented on #100
It seems this still happens? I receive an empty element in each row when calling row.values

Simple fix it seems... Would be nice to have it.

[2019-02-25 06:08] IgnatovDan commented on #739
I have checked how [ExcelJS exports empty xlsx file](https://codepen.io/DanIgnatov/pen/GeKMzo) from a browser and my MS Excel 2013 opened it without error messages. It seems there are differences between ExcelJS codes for browsers and for Node. I cannot check Node scenario in a short time but hope my codepen projects will help manage both issues.

[2019-02-25 13:39] dogusev commented on #635
It's an issue, I also faced with it.
It seems that border styles are copied from the master cell, and ignore all others from the merged range

[2019-02-25 14:18] PraveenaGiri opened #753 "TypeError: d.getTime is not a function"
I am getting following error when I try to use folmulae for data validation with type date.
Please help me how to solve this one.
TypeError: d.getTime is not a function
    at Object.dateToExcel (/home/developer/Workspace/onesource-node/template/node_modules/exceljs/dist/es5/utils/utils.js:63:22)
    at /home/developer/Workspace/onesource-node/template/node_modules/exceljs/dist/es5/xlsx/xform/shee

[2019-02-25 15:10] Naseem126 commented on #251
@Siemienik I am having the same issue with 1.7.0. Both Rowcount and Actual Rowcount gives the following error:

(node:36156) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'actualRowCount' of undefined

[2019-02-25 15:22] Miggleness commented on #554
I'm encountering the same error. Using Node 8.14 and typescript 2.4.  I'm using this lib on top of SharepointFx.

I'm only interested in the browser component, hence only imported that.

[code]

[2019-02-26 08:33] svenjia commented on #747
`  workbook.xlsx.write(res).then(function () {
      res.send()
    })`
Then in browser ( i use 'filesaver')
`import { saveAs } from `'file-saver';
`saveAs(res.data,'xxx.xlsx',{ autoBOM: true })`

hope this can hlep you

[2019-02-26 11:07] termene7 commented on #100
It s a bug from 2016, and nothing has been done about it?

[2019-02-26 15:32] brunoargolo opened #754 "Legacy octal literals are not allowed in strict mode (upgrade temp to 0.9.0)"
When trying to run jest coverage on jest 24 with babel 7 a "use strict" is automatically appended, resulting in the issue below.

SyntaxError: /node_modules/temp/lib/temp.js: Legacy octal literals are not allowed in strict mode (226:20)

224 | function mkdir(affixes, callback) {
      225 |   var dirPath = generateName(affixes, 'd-');

          |                     ^
      227 |     if (!err) {

[2019-02-27 11:08] grachet commented on #573
just thanks a lot

[2019-02-27 11:38] papandreou commented on #100
What's with the entitlement? If you're affected by this problem, and the fix is simple, why not submit a pull request with a regression test? That's the best way to get the attention of the maintainers.

[2019-03-01 14:44] Gildewarz777 commented on #739
Yes I'm using Node and this might be the issue. From a browser it works perfectly but as you said there must be some confusion in the order of the calls. I'm trying to figure out how all of this works, could you keep me updated on your check of the Node scenario? Thanks for the help

[2019-03-04 05:07] karlvr commented on #83
I've had some luck with the still rough but maybe more accurate approach below in TypeScript:

[code]

[2019-03-04 10:44] princelokesh opened #755 "Worksheet indent alignment property not working"
When I am trying to indent the cell by some value(integer), the cell is not getting indent when viewed in Excel, but when I indent the same cell directly through Excel(downloaded) it's takes the indent value applied from our code and indent it.
Code:
let row = worksheet.lastRow; // getting the last rendered row
row.getCell(1).alignment = { indent: 2 }; // indenting the first cell of row by value 2

[2019-03-04 11:13] simonjcarr opened #756 "promises do not work for eachSheet"
I have tried a number of things such as bluebird promise injection as specified in the docs, I have also tried bluebird promisfyAll but nothing works. here is the problem.

I have a node api that receives an xlsx file. It extracts records from that file and writes them to a database.

in some cases the data will not write to the database because of missing related data. I want to catch all these e

[2019-03-05 09:47] jackchendong commented on #749
`#Test Sheet!A1`

You can try

[2019-03-05 10:30] pierre-aurele-martin commented on #713
Following this bug that I had too

The `new Function()` which make CSP unsafe-eval not happy is in [declare.js](https://github.com/doug-martin/declare.js) - not updated since a long time

declare.js is required by extended.js required by fast-csv required by exceljs (something like that)

Allow 'unsafe-eval' in CSP is not a solution we could afford as it reduces the CSP purpose ! The only solution

[2019-03-06 02:06] sevenstories commented on #276
I've managed to offset the header row by using splice rows set to remove 0 rows and giving it an empty array of the desired amount of rows, just place it after all rows have been added. A similar technique could be applied to columns.
Anything you want to add above the header rows will need to be set directly (not using addRow or addRows, so presumably wont work for a streamed file if the rows are

[2019-03-07 03:44] nextdooroldwang opened #757 "Uncaught TypeError: Cannot read property 'match' of undefined"
![image](https://user-images.githubusercontent.com/18671240/53930970-41081480-40ce-11e9-8f97-1a026a0b3060.png)
![image](https://user-images.githubusercontent.com/18671240/53930981-4d8c6d00-40ce-11e9-8023-caa17fc4cc13.png)

[2019-03-07 08:06] Sean-214 opened #759 "DeprecationWarning: Buffer() is deprecated due to security and usability issues."
DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.

[2019-03-07 09:06] gawadesantosh14 commented on #430
Hi Guys, I am also facing the same issue in this weeks. After quite debugging we found that the formulae format which we are creating is like:
worksheet.getCell('A1').dataValidation = {
    type: 'list',
    allowBlank: true,
    formulae: ["One,Two,Three,Four"]
};

but the expected format is:
worksheet.getCell('A1').dataValidation = {
    type: 'list',
    allowBlank: true,
    formulae: ['"One,T

[2019-03-07 09:42] hzjump opened #760 "[Vue warn]: Error in v-on handler: "TypeError: Cannot read property 'toString' of undefined""
why？？
![image](https://user-images.githubusercontent.com/37094919/53947230-539b4180-4100-11e9-91ea-ba54a5a42294.png)

[2019-03-07 09:44] hzjump commented on #760
![image](https://user-images.githubusercontent.com/37094919/53947310-7decff00-4100-11e9-9b43-eb2e882f73d8.png)
Is my code wrong?

[2019-03-07 09:55] hzjump commented on #760
Is this plug-in node using？

[2019-03-07 10:28] DheerajKN opened #761 "Evaluating all the Formula Cells in a workbook"
Feature Request:
-> Need a function that can evaluate all Formula Cells in a workbook after the values in certain cells are replaced.

-> Also, a function that can compute the Formula of a particular cell and provided updated result.

[2019-03-07 11:24] satspl commented on #106
excel found unreadable content in .xlsx.Do you want to recover error the contents of this workbook? While using excel-js module also, a tab called recovered sheet is added to the file.

[2019-03-07 11:24] satspl opened #762 "excel found unreadable content in .xlsx.Do you want to recover error the contents of this workbook? While using excel-js module also, a tab called recovered sheet is added to the file."
excel found unreadable content in .xlsx.Do you want to recover error the contents of this workbook? While using excel-js module also, a tab called recovered sheet is added to the file.

_Originally posted by @satspl in https://github.com/exceljs/exceljs/issues/106#issuecomment-470489797_

[2019-03-07 16:11] zachariahtimothy commented on #760
I am getting the same in React

    at Object.<anonymous> (graceful-fs.js:63)
    at Object.../node_modules/graceful-fs/graceful-fs.js (graceful-fs.js:279)
    at __webpack_require__ (bootstrap:788)
    at fn (bootstrap:149)
    at Object.<anonymous> (index.js:8)
    at Object.../node_modules/archiver-utils/index.js (index.js:156)
    at __webpack_require__ (bootstrap:788)
    at fn (bootstrap:149

[2019-03-08 02:47] hzjump commented on #760
---------------
I've solved this problem.You need to annotate two things.
![image](https://user-images.githubusercontent.com/37094919/54003973-f3071580-418e-11e9-8052-4aa531c32406.png)
![image](https://user-images.githubusercontent.com/37094919/54003993-074b1280-418f-11e9-8eb2-a198470caee5.png)
error “toString”，You should delete it。like this
old：
![image](https://user-images.githubusercontent.com/

[2019-03-08 03:42] realeve commented on #757
the same issue

[2019-03-08 03:45] realeve commented on #757
import Excel from 'exceljs/dist/es5/exceljs.browser.js';

[2019-03-08 07:17] TonnyCheng opened #763 "Fills error"

[2019-03-08 07:22] TonnyCheng commented on #763
hi bro ,i faced a issue to add bgcolor to a merged column ,but use fills function is useless,what can i notice?

[2019-03-08 10:47] guptroh1978 commented on #37
@navjotdhanawat Could you share you client side code as well? Much appreciated

[2019-03-08 10:48] guptroh1978 commented on #37
Could you share you client side code as well? Much appreciated!!

[2019-03-08 10:48] guptroh1978 commented on #37
Could you share you client side code as well? Much appreciated!!

[2019-03-10 19:39] mbenzenhoefer commented on #680
Done, see #764

Let me know if you need more information on that

[2019-03-10 20:09] zachariahtimothy commented on #760
For anyone else landing here, I am using NextJS and was able to fix the issue with the following webpack config in next.config.js:
[code]
Excel JS is working great btw, thank you so much for this library!

[2019-03-11 11:11] moyee commented on #526
read images from excel it's not work

[2019-03-11 14:45] SreekanthMekala commented on #47
@guyonroche Can you tell us how to fetch selected value from drop down cell?

Thanks.

[2019-03-11 15:00] SreekanthMekala commented on #667
@ert78gb @priyankhcrm How to get selected value from list?
Can you please share with us. Thanks

[2019-03-11 15:33] ert78gb commented on #667
Based on the documentation

// Excel will provide a dropdown with these values.
    worksheet.getCell('A1').dataValidation = {
        type: 'list',
        allowBlank: true,
        formulae: ['$D$5:$F$5']
};

or `formulae: ['LOOKUPS!$D$5:$F$5']` if you reference to other sheet

[2019-03-11 15:46] SreekanthMekala commented on #667
@ert78gb Thanks, I tried with below code, No luck!!. Can you please review once.

workbook.xlsx.readFile('DAT_upload.xlsx')
    .then(function() {
        var worksheet = workbook.getWorksheet('COMP DATA');
        worksheet.getCell('C3').dataValidation = {
            type: 'list',
            allowBlank: true,
            formulae: ['LOOKUPS!$C$3:$J$3']
            };
        //console.log(cellD

[2019-03-11 18:59] ert78gb commented on #667
In my last project I switched to `excel4node` because it support to set validation on range.

[code]

[2019-03-12 12:37] alubbe commented on #615
@matiullah-netlinks did you try running what @Siemienik proposed?

[2019-03-12 12:40] alubbe commented on #748
I like those three. Right now I'm quite interested in improving the streaming, esp. adding cancellation, can we add that as a fourth?

[2019-03-13 03:37] nimatullah commented on #615
@alubbe , It worked. Thanks

[2019-03-13 03:43] vincenthawke opened #765 "Creating excel file and writing to it with ExcelJS"
I wrote a script that creates a new excel file with ExcelJS. Adds 3 headers and inserts 2 rows. Then saves that file to disk.

In the next step it should read that previously saved file, add 1 row and save it again under a new name. I can't find the reason why the second part where I try to add 3rd row never happens. Both files look the same and there are no errors in console.

[code]

[2019-03-13 04:15] matiullah-netlinks commented on #615
@alubbe , @Siemienik, worked thanks

[2019-03-13 08:46] kaytrance commented on #741
Sorry for not responding for so long, but thank you very much!

[2019-03-13 09:49] alubbe commented on #615
Awesome!

[2019-03-14 10:14] Gildewarz777 commented on #739
Hi, I'm still having difficulties with opening the file, I feel like I have tried a lot of different options. If anyone has a working example on Node I can try to debug from there and maybe fix.

[2019-03-14 15:02] vincenthawke commented on #765
Seems nobody knows what is wrong, even on stack:(
[https://stackoverflow.com/questions/55132760/creating-excel-file-and-writing-to-it-with-exceljs](url)

[2019-03-14 15:16] vincenthawke commented on #765
Solved it by adding array to describe columns in second part of the code. Then the 3rd row was added successfully.

[code]

[2019-03-14 15:16] #765 closed

[2019-03-15 10:05] helixquar commented on #472
How did you solve it?

[2019-03-15 12:11] kapilpjain1 opened #766 "unable to read with readfile"
If my excel file has 3/4 sheets same code reads excel file correctly
But when size of sheets in excel file goes to 20
it doesnt read excel file
Code doesnt read sheet

How is it possible
How is it possible to read plenty sheets excel file easily
How to use Stream API to read multiple sheets excel file  in excelJS
Is stream API different than ExcelJS or part of it
Online documentation doesnt clear

[2019-03-15 12:14] kapilpjain1 commented on #340
I am also waiting for same

[2019-03-15 17:46] RichardWright opened #767 "testing with jest"
We use jest to test, when the environment is set to node exceljs fails.

I hope other people find this useful as my colleague and I lost alot of time over this today.

Package json setup -
[code]

The error -

[code]
code example - `worksheet.commit()`

[2019-03-19 12:02] henninghaakonsen commented on #739
+1!

[2019-03-19 20:38] Albemo opened #768 "How to use ExcelJs in the ClientSide please tutorial"
Please do a tutorial, how to implement the library for Front-End, I am new to this and I have tried everything without any results.
It is very confusing for me. And I think for others too, thank you very much!

[2019-03-20 08:38] dzk666 opened #769 "RESOLVED: How to group the specified rows? Does it support?"
![图片](https://user-images.githubusercontent.com/8910671/54670405-8eed3580-4b2e-11e9-908b-fe0386813006.png)

[2019-03-20 12:56] mkock commented on #594
This just happened to me in a production environment. I have this loop, which has worked until now:

[code]

For this particular file which contains exactly one worksheet named simply "Sheet1", it never finds the sheet, ie. `worksheet` always equals `undefined`, and the loop runs forever. Any solutions?

[2019-03-20 13:02] mkock commented on #594
Update: as noted in this issue: https://github.com/exceljs/exceljs/issues/652, this happens when the workbook is stored in an older format, in this case, it's "Excel 97-2004 Workbook" format. I'm simply not able to fetch a sheet from those :-(

[2019-03-21 04:22] alubbe commented on #748
As a fifth point, I also think we should explore replacing sax (unmaintained for over 2 years) with saxes, which also speeds up our runtime performance (at least for streaming). And I believe @coldhiber also found an issue with the temp file library that uses global state

[2019-03-21 12:53] Siemienik commented on #748
1. Performance
2. Clean up issues
3. Do fixes
4. Streaming, esp. adding cancellation
5. Replacing sax  with saxes

[2019-03-23 00:54] donaldsonjulia commented on #730
@Siemienik I had implemented a really quick fix on a forked branch for getting a header and footer into an app I needed it for. I'm currently working on creating a proper PR for header/footer to make it align with the desired API as written in `TODO.txt`

[2019-03-25 05:00] omurbekjk commented on #735
@anish-techpro did you find the solution?

[2019-03-25 05:13] omurbekjk commented on #705
@Siemienik Any ideas how to validate correctness of excel? maybe I will try to create pull request.

[2019-03-25 08:11] anish-techpro commented on #735
not yet.

[2019-03-25 09:54] omurbekjk commented on #735
Can you post validation error message?

[2019-03-26 01:47] atljoseph commented on #723
Why can i not do addWorksheet(workSheet)??
Why is this not built that way??
Why do you have to add a new blank Worksheet, then copy all the data manually??
Very basic ...

[2019-03-26 02:44] atljoseph opened #770 "Please add this to docs"
Crucially important information for some people to know:

[code]

_Originally posted by @msedek in https://github.com/exceljs/exceljs/issues/591#issuecomment-431368259_

[2019-03-26 08:42] 17Edwin commented on #378
hi @mfahmirukman , i see you did problem, i also have same like that, but  i use mongo instead sql, and my collection has 5000 documents, i used stream to export excel with amounts of records, but i dont know how stream deal with 5000 documents, and limit of stream can do

[2019-03-27 02:32] sauravonga opened #771 "SOME ERROR TypeError: Cannot read property 'push' of undefined at parseClose (/Users/apple/Desktop/survapp/backend/node_modules/exceljs/dist/es5/xlsx/xform/sheet/data-validations-xform.js:176:35)"
Why I am getting this error.
[code]

[2019-03-29 04:12] atljoseph commented on #664
I had this same error when attempting to put disallowed characters into a sheet name.

TestSet001/TestCase001

was replaced by:

TestSet001-TestCase001

and VOILA!

[2019-04-01 09:16] chenop commented on #664
Also note that excel has sheet name limit of 31!
https://stackoverflow.com/questions/11706393/excel-found-unreadable-content-in-xlsx

[2019-04-02 03:10] wuzhongao opened #772 "Modify existing Excel File For Style"
Hi I try to edit my excel file.
But there are problems with editing styles.
`let workbook = new excel.Workbook();
workbook.xlsx.readFile(`old.xlsx`).then(function () {
    let lineFont = worksheet.getCell(`A14`).font;
            lineFont['bold'] = true;
            worksheet.getCell(`A14`).font = lineFont;
    workbook.xlsx.writeFile(`new.xlsx`).then(function(){
            })
})
`
As a result, i

[2019-04-02 12:21] tsiegleauq opened #773 "TS2371 in exceljs >= 1.9.0 (Typescript)"
Version 1.9.0 introduced a new issue in `exceljs/index.d.ts.`

In an Angular (7) project, install exceljs 1.9.0 and add the following to `tsconfig.json`
[code]
use ng serve and see `TS2371`

Downgrading to 1.8.0 solves the problem

[2019-04-03 03:39] molant commented on #773
Having the same problem in https://github.com/webhintio/hint/pull/2158 😞

[2019-04-03 11:58] ritesh-nitw commented on #446
Are you planning to support this in future?

[2019-04-04 02:54] atljoseph commented on #664
Thanks! Will break into multiple files then

[2019-04-04 03:11] nesscx commented on #661
Angular 6+ do not support "fs" module, that's why we're getting that error.

[2019-04-04 03:20] tim-field opened #777 "Get cells "effective" value"
For any given cell I would like its value as a native JS type.  i.e. a string, number or date object.

At the moment if I call cell.value I could get a different result based on the type.  If I have a formula then I get an object  with keys `sharedFormula` and `result` for other cells  I could get a plain string, a number or I could get a date object.

It's not clear to me how I should resolve the

[2019-04-04 17:02] mfulop commented on #773
I think line #789 of index.d.ts:
[code]
should be:
[code]

[2019-04-05 08:52] Gildewarz777 commented on #739
Hi,
Upon closer inspection the excel generated in the codepen of @IgnatovDan is not working either. When I try to open it I get this error:

![Screenshot 2019-04-05 at 10 51 19](https://user-images.githubusercontent.com/10724721/55615876-d3b0d780-5790-11e9-96ab-9737aae4de32.png)

[2019-04-06 16:50] nesscx opened #778 "Add support for Dependent Drop-down Lists"
Or at least allow overwriting an excel that already has this functionality without damaging it.

<a href="https://www.excel-easy.com/examples/dependent-drop-down-lists.html">Here is an example of this feature</a>.

[2019-04-08 06:05] pramodjaiswalapp opened #779 "A parameter initializer is only allowed in a function or constructor implementation"
Why i am getting this error in node module.
node_modules/exceljs/index.d.ts:787:14 - error TS2371: A parameter initializer is only allowed in a function or constructor implementation.

787  constructor(model: IAnchor|object = {});

[2019-04-08 14:46] alubbe commented on #779
Duplicate of https://github.com/exceljs/exceljs/issues/773 - we're working on it

[2019-04-08 14:46] #779 closed

[2019-04-08 20:51] dogusev commented on #467
@alubbe @guyonroche
Hi!
An issue, which was resolved after #702 merged - came back again. Something happened, and images again stretched

[2019-04-09 05:31] ilimei commented on #353
load some xlsx file and save , the richText will missing in save file

[2019-04-10 05:27] vimutti77 commented on #340
+1

[2019-04-10 06:39] IgnatovDan commented on #772
In XLSX, a font description can be referenced from several cells. For more details see the 'fontId (Font Id)' description in the '18.8.45 xf (Format)' section, [Ecma Office Open XML Part 1](https://www.ecma-international.org/publications/standards/Ecma-376.htm).

ExcelJS creates objects in accordance with the internal XLSX declarations and some Font object can be referenced from several cell objec

[2019-04-10 09:42] yonaroshella commented on #773
use
import * as Excel from "exceljs/dist/exceljs.min.js";
instead of import { Workbook } from 'exceljs';

and declare
let workbook = new Excel.Workbook();

[2019-04-10 11:18] molant commented on #773
That's a breaking change and the library should have been bumped to 2.0

[2019-04-11 06:38] bhavivg commented on #773
@yonaroshella  Thank you this resolved the issue for me.

[2019-04-11 09:46] alubbe commented on #773
I think we should merge https://github.com/exceljs/exceljs/pull/780 and publish a bugfix release - @guyonroche what do you think?

[2019-04-11 17:18] graciano commented on #773
@yonaroshella's solution worked for me. My angular version is 4, a legacy project.

[2019-04-11 17:20] graciano commented on #773
@molant I don't think it's a breaking change, but rather a bug that can be fixed

[2019-04-11 17:50] molant commented on #773
Depends on the maintainers intentions with this change. If this was on purpose then it should have been a breaking. If it was a mistake then a fix version would be appreciated.

[2019-04-12 07:34] laub1199 commented on #750
You can try to use `node-msoffice-pdf` also with `edge.js`

Check them out on:
[](https://www.npmjs.com/package/node-msoffice-pdf)
[](https://github.com/tjanczuk/edge)

[2019-04-13 21:18] astrobob commented on #773
Hi guys,
I'm using exceljs with nodejs in Typescript.
I tried import * as Excel from "exceljs/dist/exceljs.min.js"; and indeed the error was gone.
But,
wb.xlsx.writeFile() and wb.xlsx.readFile() doesn't work any more.
Do you have any clue solving this issue? It's quite blocking
Thank you in advance

[2019-04-15 22:20] Dormanil opened #781 "TS2345 when piping workbook data"
The code as follows:

[code]

`Argument of type 'Writable' is not assignable to parameter of type 'WritableStream'.
  Type 'Writable' is missing the following properties from type 'WritableStream': writable, write, end, addListener, and 14 more.ts(2345)`

Am I using the wrong version of Node or what?

[2019-04-16 14:00] MichaelGatesDev opened #782 "Get cell in row by column header/name."
I am working on a project now which uses ExcelJS and as of right now, there is a lot of hardcoding going on which would break if 1 column was inserted. To avoid this, I want to use column names/headers instead of numbers.

For example, I'm doing this right now:

[code]
Notice how I hardcoded column numbers 1 and 4. Instead, I would like to use the column header name like this:

[code]

The reason

[2019-04-17 01:23] vchouhan opened #783 "worksheet.addRow() with wrap text settings on the xlsx file throws the _nextRow and _lastRowNumber off..."
I'm working on a project which requires me to read a `.xlsx file` which already has some default settings defined and columns names provided. The first 3 rows are formatted with labels and the first writable row starts at line 4 which shows up correctly at the actualRowCount value. I noticed that the `worksheet.addRow()` was writing to line `_nextRow 29`  and while the `_lastRow count was set to 2

[2019-04-17 01:43] vchouhan commented on #756
@simonjcarr worksheet.eachRow does not return a promise. It's simply looping over eachRow of the worksheet and providing the rowNumber and rowValue. You can't use .then() on something that does not return a promise.

[https://www.npmjs.com/package/exceljs#010](https://www.npmjs.com/package/exceljs#010)

[2019-04-17 01:44] vchouhan commented on #766
@kapilpjain1 can you please share your code and your excel file.

[2019-04-17 02:26] vchouhan commented on #751
@Ponvijaykumar here's a link to a demo code.
[https://repl.it/@vishwasc/ExcelJs-Example](https://repl.it/@vishwasc/ExcelJs-Example)

[2019-04-17 10:11] jagadeeshi2i opened #784 "Autofilter not retained"
While adding a row to an excel file which has an autofilter, does not retains the filter after addition of the row.
[code]

[2019-04-17 11:51] #615 closed

[2019-04-17 12:13] Siemienik commented on #769
I'm not sure, but probably that feature doesn't exists here

@dzk666 did you resolve this issue?

[2019-04-17 12:17] Siemienik commented on #594
@hazemsamoaa @bam-tbf  @mkock
It isn't required to worksheet has next id, so first one could have id=10, second one id=3 and the other id=1213.
To iterate through worksheets I recommend use array `worksheets`:
[code]

[2019-04-17 12:17] #594 closed

[2019-04-17 12:23] Siemienik commented on #730
@donaldsonjulia have you already created PR with fix?

[2019-04-17 12:34] Siemienik commented on #705
@omurbekjk somethink like that works for me:
[code]

[2019-04-17 12:37] Siemienik commented on #735
@anish-techpro is it opening in Excel?

[2019-04-17 12:39] Siemienik commented on #770
@atljoseph could You open PR?

[2019-04-17 12:40] Siemienik commented on #723
https://github.com/exceljs/exceljs/issues/770

[2019-04-17 12:51] Siemienik commented on #446
@mfahmirukman @ritesh-nitw
I am really sad to say that, but probably here is bug with handling `.png` file.

@mfahmirukman could you test this one with `.jpg` and give me a confirmation?

[2019-04-17 12:59] Siemienik commented on #664
@atljoseph Worksheetnames: https://github.com/exceljs/exceljs/issues/705

@huntinghawk1415 @LesterLyu Could You open PR with fixes for this bug?

[2019-04-17 12:59] mfahmirukman commented on #446
I'm sorry that I can't help anymore because I'm currently not working on the NodeJS project anymore

[2019-04-17 13:03] Siemienik commented on #777
@tim-field
[code]
should works

https://github.com/exceljs/exceljs/blob/master/lib/doc/cell.js#L196

[2019-04-17 13:03] #777 closed

[2019-04-17 13:14] Siemienik commented on #467
any one found reason of that?

[2019-04-17 13:15] Siemienik commented on #353
anyone could open PR for that?

[2019-04-17 13:48] mdmasumbillah opened #785 "How to implement multi headers?"
I want to header options is

![Screenshot 2019-04-17 at 16 57 46](https://user-images.githubusercontent.com/17563505/56292714-7b42e800-6149-11e9-8918-05df5e6a2f5d.png)

1. Firstly header create header section.
2. And main sheet headers are under the section header.

[2019-04-17 13:52] dogusev commented on #467
probably mess in installed dependencies. Can not reproduce it again

[2019-04-18 07:30] zhu110guang commented on #773
I use Exceljs like this :
import * as Excel from "exceljs";
workbook = new Excel.Workbook();

but when i try to build my code ,  it throw Error like this :
![image](https://user-images.githubusercontent.com/18319392/56343995-e98db600-61ee-11e9-94aa-b5f01bf6fd91.png)

[2019-04-18 08:22] lkiii commented on #773
@guyonroche The issue is still present. Could you suggest how to manage it? Maybe you could consider @alubbe changes to be published?

[2019-04-18 13:11] #446 closed

[2019-04-18 13:14] Siemienik commented on #785
As far as i know, currently the best way is do it manually;)
https://github.com/exceljs/exceljs/issues/433#issuecomment-343955264

[2019-04-18 13:14] #785 closed

[2019-04-18 13:17] Siemienik commented on #467
So .. does the bug still exists or was it fixed?

[2019-04-18 13:19] kkor commented on #446
@Siemienik does closing this issue mean you plan on never supporting images in the workbook writer? Or had this been fixed?

[2019-04-18 13:24] Siemienik commented on #751
@Ponvijaykumar maybe my answer isn't best of all, but in my opinion the most valuable examples were placed in tests: (lots of examples with description and asserts ;) )

for example, here:

https://github.com/exceljs/exceljs/blob/master/spec/integration/worksheet.spec.js

[2019-04-18 13:25] #751 closed

[2019-04-18 13:42] dogusev commented on #467
as for me, i cannot reproduce it again. So i'd say it's fixed

[2019-04-18 14:07] mdmasumbillah commented on #433
@mfahmirukman thanks for help. This is work when added the width.

sheet.columns = [
    { key: 'idClient', width: 10},
    { key: 'name', width: 20},
{ key: 'tel', width: 15},
{ key: 'adresse', width: 25}
]

[2019-04-18 20:27] MichaelGatesDev commented on #782
In the meantime, I've resorted to doing this:

[code]

[2019-04-19 06:36] foreverpinetree opened #786 "Open a sheet and only edit some cells of row 1 then save it, but other rows to be blank."
All the texts have different colors in each cell (just like each cell it has normal text and price, I change the price to red color while normal text is black), I guess the problem is caused by this. When I changed all the texts to the same color (like black), the problem was gone.

[2019-04-19 10:28] #467 closed

[2019-04-19 10:50] Siemienik commented on #782
https://github.com/exceljs/exceljs/blob/master/lib/doc/row.js#L56

getCell by column key should work,

did you set columns?

[code]

or:

[code]

[2019-04-19 11:37] anish-techpro commented on #735
yes it does open in Excel, but not uploading.

[2019-04-19 18:01] amlagazon commented on #322
got the same thing. no error, but it does not work tho. it does not proceed in writeBuffer().

[2019-04-19 22:29] atljoseph commented on #770
Cloning worksheet data with styling model

[2019-04-22 06:01] dzk666 commented on #769
@Siemienik Yes, I have resolved it by below method:
row1.outlineLevel = 1;
row2.outlineLevel = 2;

[2019-04-22 10:59] brunoargolo commented on #322
Same issue. Printing excel with over 500k rows about 15 columns. Regular workbook won't work, so the stream workbook writer is my only option and it works great besides not allowing images. Any workaround would be greatly appreciated.

[2019-04-22 12:28] MichaelGatesDev commented on #782
Thank you for that example. I did not know that I had to set the column keys myself . Works well now.

[2019-04-22 12:28] #782 closed

[2019-04-23 06:13] alexandruptr opened #787 "Cell issue on Windows - the same value is added multiple times in a cell"
Hi,

I have the following code which adds some nodes in the excel:

Node has 2 columns:
- A name column
- A value formatted like this:
[code]

[code]

When on Windows exporting **more than 30 nodes** I am getting **in the same cell**:
- for the first 5 nodes -  triple values like this:
[code]

- for the next 5 nodes - double values:
[code]
- the others are filled with the correct value:
[code]

Th

[2019-04-23 07:19] alexandruptr commented on #787
The issue is related to the software used. It happens because on Windows I am using OpenOffice. It works with Microsoft Office / Google Online / Libre Office.

[2019-04-23 07:19] #787 closed

[2019-04-23 12:56] #769 closed

[2019-04-23 13:13] Froschkoenig84 opened #788 "Is there a simple minimized standalone?"
I need to use it just for a simple landing page. Is there a standalone dist js (without npm)?

[2019-04-23 13:21] lukasz-t-michalski opened #789 "editAs: 'oneCell' not allowing to delete images"
Using this code:
`worksheet.addImage(imageId2, {
                        tl: { col: 4+idx, row: 1+i},
                        br: { col: 5+idx, row: 2+i}
                    });`

allows me to filter and delete rows with images but the images stretch when width of the columns is changed. To fix the issue of stretching images I use this code:

`worksheet.addImage(imageId2, {

[2019-04-23 13:33] lukasz-t-michalski commented on #788
[dist.zip](https://github.com/exceljs/exceljs/files/3107763/dist.zip)

There you go

[2019-04-23 14:15] Siemienik opened #790 "Importing data from xlsx file"
I'm writing this issue to tell about package what I've created last time.

If you need import data from `.xlsx`  can use [xlsx-import](https://www.npmjs.com/package/xlsx-import)

Regards,

[2019-04-24 05:30] ns20011997 opened #791 "cell.fill issue"

[2019-04-24 08:21] #773 closed

[2019-04-24 08:27] bauzer opened #792 "Worksheet.dimensions in index.d.ts"
in index.d.ts, Worksheet.dimensions returns array of Range.

https://github.com/exceljs/exceljs/blob/e6e12030f475c7360f930bc06f8d686325a89dfe/index.d.ts#L869

but, Worksheet.dimensions returns Range.

https://github.com/exceljs/exceljs/blob/e6e12030f475c7360f930bc06f8d686325a89dfe/lib/doc/worksheet.js#L106-L117

[2019-04-24 15:34] Siemienik commented on #791
@ns20011997
which version have you used?

[2019-04-24 18:37] cncolder opened #794 "Make package.json friendly"
1. Move `@types/node` into devDependencies.
2. Do not pin jszip version `"jszip": "^3.1.3"`.
3. Consider replace moment with [dayjs](/iamkun/dayjs). It's too heavy since we only parse time string.
4. add `browser` field.

[2019-04-25 03:45] cncolder commented on #768
Did you means work on browser?

Here is an example for export excel and download.

[code]

[2019-04-25 06:13] ns20011997 commented on #791
@Siemienik
latest one -- 1.9.1

[2019-04-25 15:53] Siemienik commented on #794
@cncolder  Could you open PR with these changes?

[2019-04-25 16:11] Siemienik commented on #791
@ns20011997 it is probably a similar issue like here: https://github.com/exceljs/exceljs/pull/722

if I am right, this workaround should works:
[code]

[2019-04-25 16:12] #669 closed

[2019-04-25 16:25] Siemienik commented on #680
@mbenzenhoefer nice, thank you,
as I've written there, I need any test written to check this situation before I can merge it

[2019-04-26 16:14] #123 closed

[2019-04-26 16:14] #128 closed

[2019-04-26 16:14] #182 closed

[2019-04-26 16:15] #686 closed

[2019-04-26 16:15] #218 closed

[2019-04-26 16:15] #222 closed

[2019-04-26 16:16] #88 closed

[2019-04-26 16:16] #710 closed

[2019-04-26 16:16] #323 closed

[2019-04-26 16:16] #19 closed

[2019-04-26 16:16] #116 closed

[2019-04-26 16:17] #227 closed

[2019-04-26 16:18] #287 closed

[2019-04-26 16:19] #308 closed

[2019-04-26 16:19] #341 closed

[2019-04-26 16:19] #355 closed

[2019-04-26 16:19] #372 closed

[2019-04-26 16:19] #361 closed

[2019-04-26 16:19] #359 closed

[2019-04-26 16:20] #357 closed

[2019-04-26 16:20] #380 closed

[2019-04-26 16:20] #401 closed

[2019-04-26 16:22] Siemienik commented on #358
@anoluck it's possible to read file from a stream and implement showing progress by yourself

[2019-04-26 16:22] #358 closed

[2019-04-26 16:26] Siemienik commented on #421
@realcrazysun  You can operate on field `ws.orderNo`

https://github.com/exceljs/exceljs/blob/master/lib/doc/worksheet.js#L24

[2019-04-26 16:26] #421 closed

[2019-04-26 16:26] #455 closed

[2019-04-26 16:28] Siemienik commented on #745
https://github.com/exceljs/exceljs/issues/732

[2019-04-26 16:29] #747 closed

[2019-04-26 16:34] Siemienik commented on #276
#268 276

[2019-04-26 16:34] #276 closed

[2019-04-26 20:35] lucas2595 commented on #388
@TonyDobbs I don't know if you found a solution already, but I managed to do it by setting:
[code]
When setting `fitToHeight = 0` it follows the `fitToWidth` defined and vice-versa.

[2019-04-26 20:58] donaldsonjulia commented on #730
@Siemienik I've been out of town so now I'm returning to getting it cleaned up to create a PR

[2019-04-27 16:12] lae0901 commented on #768
I try that and get error:
Uncaught SyntaxError: The requested module './node_modules/exceljs/dist/es5/exceljs.browser.js' does not provide an export named 'default'

`<script src="module.mjs" type="module" ></script>

import ExcelJS from './node_modules/exceljs/dist/es5/exceljs.browser.js' ;

`

[2019-04-28 15:17] bleuscyther commented on #768
[code]

[2019-04-28 16:29] alubbe commented on #144
Closing this as node v6 is now out of LTS

[2019-04-28 16:29] #144 closed

[2019-04-28 16:31] alubbe opened #796 "Drop node v6 support"
With v6 out of LTS, should we refactor the code base to >= v8? This could mean trailing commas in functions, native Promises and async/await. I'd be highly in favour in doing this and releasing a new major version - do we have any other breaking changes we could also release or would it be just the node version upgrade?

[2019-04-28 16:34] lae0901 commented on #768
import * worked for the excel import.
now get error on the import from file-saver:

`
import ExcelJS from '../node_modules/exceljs/dist/es5/exceljs.browser.js' ;
import { saveAs } from 'file-saver'
`

`Failed to load module script: The server responded with a non-JavaScript MIME type of "text/html". Strict MIME type checking is enforced for module scripts per HTML spec.`

why would this MIME type

[2019-04-28 21:11] vegarringdal commented on #791
hmm, is this because he reads a file and make edits?
Never seen this issue, but maybe because I make the excel file/sheet.

[2019-04-29 06:32] alubbe commented on #796
I just wanted to follow up with some more details about the improved debugging: https://v8.dev/blog/fast-async

And I've been asked about the performance impact of this. In v12, native async/await has caught up:
[code]

[2019-04-29 08:44] ritesh-nitw commented on #322
Anyone able to find any workaround?

[2019-04-30 02:44] lae0901 opened #797 "error using excelJs in a browser based module"
get error when run the following code:
Uncaught TypeError: ExcelJS.Workbook is not a constructor

the code works when I run it in browser code, without the module. And it works when it is bundled using webpack.  Why the error in a module?

[code]

[2019-04-30 06:22] ttoni opened #798 "Does this library work in ReactNative?"
I'm having trouble getting this to work in a ReactNative project.
When I add an import like: `import Excel from 'exceljs';` I'm getting the following error:
`Unhandle JS Exception:
getPropertyAsObject: property.
'__fbRequireBatchedBridge' is not an Object`

[2019-05-02 15:58] girishbr opened #800 "How do I get ExcelJS CSV conversion to respect formulae?"
The following code is to convert an excel file to csv.
The .csv gets generated. But, the columns with formulae are just ignored (empty space).

How do I get ExcelJS CSV conversion to respect formulae?

`
    var workbook = new Excel.Workbook();

    workbook.xlsx.load(results.rows[0].map) //reading from PostGres bytea field
        .then(function () {
            function getMap() {

[2019-05-03 04:55] alubbe commented on #796
Noone? :D

[2019-05-03 06:00] satya1432 commented on #773
It's working for me just change exceljs file path extension  in tsconfig.json file exceljs.min to exceljs.min.js

"paths": {
  "exceljs": ["../node_modules/exceljs/dist/exceljs.min.js"]
}

[2019-05-03 07:56] tsiegleauq commented on #773
the current version should work like it was used to

[2019-05-03 09:53] lokidokicoki opened #801 "Anchor has parameter initializer in index.d.ts"
I get this error with TypeScript 3.2.4 with exceljs@1.9.1:

[code]

From the index.d.ts

[code]

If I remove the initialiser the code compiles

[code]

[2019-05-03 12:08] eseliger commented on #801
It has been fixed, but not release triggered since then :(

[2019-05-03 12:08] eseliger commented on #801
@guyonroche can you help out?

[2019-05-03 14:39] richardnassar-external opened #802 "excel.csv on creating the ws and wb of more than 350 000 records is crashing !"
is there a size limit ? and if there is can i Change it ?

[2019-05-03 16:36] molant commented on #773
@tsiegleauq that's not the case for us. It is still failing with v1.9.1:

* [How we import `exceljs`](https://github.com/webhintio/hint/blob/0f70f6f773235cdab31d5811eaa5f0ff9be9650f/packages/formatter-excel/src/formatter.ts#L14) (`import * as Excel from 'exceljs';`)
* [PR with the update](https://github.com/webhintio/hint/pull/2275/files)
* [Azure Pipelines output from the PR](https://dev.azure.co

[2019-05-03 16:38] tsiegleauq commented on #773
I can try to confirm it on Monday. In that case, this issue should be either reponened or the documentation has to be adjusted

[2019-05-04 14:35] JamesChenX commented on #760
I have fixed the issue by using:
`import Excel from "exceljs/dist/es5/exceljs.browser";`
It works fine.

[2019-05-05 07:08] enzoferey commented on #676
So this was happening to me as well and I eventually found a solution that works well: just copy the whole value.

For example:

[code]

Now if you change the values or `A1` or `A2`, both `A3` and `A4` will get updated. If you open the `.xlsx` export you will see that both cells use the same formula.

[2019-05-05 22:23] Pr05p3ro opened #804 "Impossible to use browser version in TypeScript application"
There is some sort of a workaround that allows to import browser build of exceljs
`const Excel = require('exceljs/dist/es5/exceljs.browser');`
but it does not work in a typescript application.
I've solved it for now by changing `"main": "./dist/es5/index.js",` to `"main": "./dist/es5/exceljs.browser.js",` in package.json in fork. In addition to it I had to add `load` method definition to `index.d.

[2019-05-06 08:42] alubbe commented on #796
@Siemienik you're clearly excited about this :)
@guyonroche would you be interested in releasing a major version bump to drop v6 support and introduce async/await?

[2019-05-06 11:35] bpraveen078 commented on #354
res.status(200);
res.setHeader('Content-Type', 'text/xlsx');
res.setHeader(
'Content-Disposition',
`attachment; filename=test.xlsx`
);
workbook.xlsx.write(res)
.then(function () {
res.end()
});

[2019-05-06 15:58] Govind13100 opened #805 "Not opening correctly in O365 proplus, but it opens correct in google cloud sheet"
Hi,

When open with Google Cloud Sheets (Original)

![correct](https://user-images.githubusercontent.com/26818036/57237889-c31ca700-7045-11e9-97f9-396969a33b86.png)

And when open with O365 proplus (incorrect)

![incorrect](https://user-images.githubusercontent.com/26818036/57237921-d2035980-7045-11e9-9da4-f4b4eea088a9.png)

Can anyone help me here ?

Thanks in advance

[2019-05-07 12:44] #804 closed

[2019-05-07 12:56] lokidokicoki commented on #801
Ah ok. well i look forward to the new release :)

Thanks for such a great bit of software!

[2019-05-07 16:04] Siemienik commented on #796
You are right:)

[2019-05-07 16:58] #790 closed

[2019-05-09 06:58] Estradiaz commented on #781
I guess its more  like  lazy type def: https://github.com/exceljs/exceljs/blob/c6ee7a14d5e0e5a07bf0e475aa4dd7b9a1e907f2/index.d.ts#L3

[2019-05-09 08:12] alubbe commented on #796
Should we still produce a transpiled version for node.js? If we do, adding async/await won't be a breaking change, since babel will add its runtime and some polyfills, right?

But I feel as if the standard `require`/`import` should point at our real code and the user should specify something special if they need a transpiled version. What do you all think?

[2019-05-09 16:16] macabeus opened #810 "Can't use this package on browser"
I'm trying to use `exceljs` on browser to read some XLSX files.
But, when I tried to import using

[code]

I received an error on build because can't resolve `fs` module:

[code]

Searching about how is the correct way to import on browser, [I found this example](https://github.com/exceljs/exceljs/blob/master/spec/browser/exceljs.spec.js), and following it I tried importing using

[code]

But this

[2019-05-10 01:36] chunkjs commented on #20
Hello, is there an updated example that will give me the workbook in a buffer?  I'm getting an error when initializing the StreamBuf, thanks in advance!

[2019-05-10 01:40] zypA13510 commented on #810
Not sure about ES6 import, but you can certainly use it via the global `ExcelJS` variable.
https://jsfiddle.net/zypA1310/k1h5qp6x/

[2019-05-10 01:53] chunkjs opened #811 "Write a workbook into a Buffer (example request)"
Hello,

There's an old issue requesting an example on how to get a workbook into a Buffer #20 , I tried using the StreamBuf but I'm currently getting an error stating that "StreamBuf is not a constructor".  Could you provide a recent example for achieving this?  Thanks in advance.

[2019-05-10 09:56] Siemienik commented on #810
https://github.com/exceljs/exceljs/issues/768#issuecomment-487388531

[2019-05-10 10:02] Siemienik commented on #811
@chunkjs please share code with us

[2019-05-10 10:06] Siemienik commented on #796
LGTM if it keeps backwards compatibility

[2019-05-10 11:28] chunkjs commented on #811
Thanks @Siemienik.  This is what I have:

import * as excel from 'exceljs';
import { StreamBuf} from 'exceljs/dist/es5/utils/stream-buf';
    let workBook = new excel.Workbook();
    workBook.addWorksheet("New Sheet");
    let workSheet = workBook.getWorksheet(t"New Sheet");
    workSheet.addRows([1,2,3,4]);

            var buf = new StreamBuf();//get an error here "StreamBuf is not a constructor

[2019-05-10 11:38] chunkjs commented on #811
@Siemienik , in the end I want to convert the buffer to a base64 encoded string and send that as a response to my client.  The reason for this is that will send it back to my client through an AWS lambda

[2019-05-11 13:36] gsanikidze opened #812 "List of images"
How can i render excel file with images in one column?

Problem is i can't define specific coordinates inside column.

### My Code:
![image](https://user-images.githubusercontent.com/15326244/57570451-18283680-7413-11e9-80d9-c02c8cf08b8f.png)

### Output File:
![image](https://user-images.githubusercontent.com/15326244/57570428-ddbe9980-7412-11e9-993b-a99add6896df.png)

[2019-05-11 19:18] Pr05p3ro commented on #810
Actually, my PR should solve your issue too: https://github.com/exceljs/exceljs/pull/806
One line in package.json allows to import browser version when project is built using webpack or any other tool that respects "browser" property. It is merged, but there were no new releases yet.

[2019-05-13 09:12] robophil commented on #676
I didn't actually. My previous company opted for https://github.com/SheetJS/js-xlsx with pro support.

[2019-05-13 15:36] jeremyjh commented on #623
@kami23 did you find a workaround for this?

[2019-05-13 17:07] kami23 commented on #623
@jeremyjh no i didn't find a solution for it i had to use a loop to draw all the borders

[2019-05-14 05:34] WinstonMarvel commented on #24
I experienced the same issue here and did the same. Had to change the whole object. Any idea why this is happening?

I did console log of the property descriptors of the object. Both cell.value.formula as well as cell.value.result are enumerable, configurable as well as writable. But I still was not able to override the cell value result.

[2019-05-15 03:04] spadkins commented on #24
With regard to the question asked by @ifocusdata, having Excel running in the background as a calculation engine is *NOT* possible using the exceljs module. The exceljs module is not Excel, and it is completely oblivious to whether Excel is installed on the machine or not. It is merely a Javascript/Node module that reads and writes an Excel-formatted file.

At the time I described the work-around

[2019-05-15 20:21] dogusev opened #816 "document scale (width only) is different after read & write"
Hi!
Faced with a very strange issue:
When I read the document and write it back as a new file without any changes width of columns became different.
Input:
<img width="1400" alt="input" src="https://user-images.githubusercontent.com/6179780/57806447-d3c8cd80-7767-11e9-93ad-e6c09d90eb70.png">
output:
<img width="1400" alt="output" src="https://user-images.githubusercontent.com/6179780/57806488-e511

[2019-05-16 08:22] r4tz52 commented on #685
As far as I see the "password protection feature" is not rocket science: https://github.com/dtjohnson/xlsx-populate/blob/master/lib/Encryptor.js

[2019-05-16 18:15] kreig303 opened #818 "Security Advisory 886 Fix"
**tl;dr**

Updates `unzipper` to `0.9.12`.

**details**

Includes update in [this](https://github.com/ZJONSSON/node-unzipper/issues/116)
which addresses [this](https://www.npmjs.com/advisories/886).

[2019-05-17 01:35] youareswj opened #820 "set styles"
how can I do that make a column word wrap.

[2019-05-17 13:41] kreig303 commented on #818
Done.

[2019-05-17 13:41] #818 closed

[2019-05-17 13:47] padinko commented on #486
if you use moment, you can do:
[code]
to get same date and time in UTC time zone

[2019-05-17 15:45] kctang commented on #810
Using the latest release (`^1.11.0`), I am still getting the same error (can't resolve fs).

I am using this library with an Angular 7 project, and also tried with and without the tsconfig path approach:
[code]

Any hints on how to get this working on a browser nicely for Angular projects?

I can fork and submit PR if you can provide some guidance on potential fix.

[2019-05-17 18:08] ankitsalu opened #821 "how to use exceljsin angular 7?"
Is there a good way rather than doing below:
import * as Excel from "exceljs/dist/exceljs.min.js";

If I don't do the above then i get errors like:
Module not found: Error: Can't resolve 'fs' in 'E:\Projects\test-app\node_modules\exceljs\dist\es5\csv'
ERROR in ./node_modules/exceljs/dist/es5/utils/utils.js

[2019-05-17 19:16] donaldsonjulia commented on #730
@Siemienik I'm stuck with an issue where my attempt to include `evenHeader` seems to corrupt the entire file - `evenFooter` and `oddFooter` work, but as soon as I include `evenHeader` it's corrupted.....is this not valid xml?? I was following the specs in `TODO.txt`:
[code]
I want to get this PR in but this is an unexpected hiccup that I just can't figure out and I'm trying to do it outside of wor

[2019-05-19 09:02] #812 closed

[2019-05-21 20:29] dogusev commented on #816
it seems that height also changed.
Probably related to Dpi parsing.

@guyonroche could you please take a look at this issue? It's quite critical for me.

What currently I found:
 1. In output document lost properties:
[code]
2. in both (input output) parsed documents data set to default `horizontalDpi: 4294967295,
  verticalDpi: 4294967295,`

[2019-05-21 20:37] dogusev commented on #388
it seems that i have same issue,https://github.com/exceljs/exceljs/issues/816 , symptoms are similar =)

[2019-05-21 21:00] abmj1979 commented on #820
Hi,

You can use:

[code]

[2019-05-22 00:21] daniele-orlando opened #825 "Distributed package (via NPM) misses modern.*.js files"
Version: **1.11.0**

[code]

are not available when the library is downloaded with NPM
due to the fact that these files are not included in **package.json:files** section.

This means that it is impossible to bundle the library for modern browsers when installed through NPM.

[2019-05-22 00:29] youareswj commented on #820
Thank you very much!

[2019-05-22 00:29] #820 closed

[2019-05-22 00:38] daniele-orlando opened #826 "Remove require('promish') for modern browsers"
Version: **1.11.0**

What's the point of requiring *promish* when it is not used in modern browsers?

With the bad effect that the Promish library is bundled and sent to the client even if not used at all, resulting in an increased bundle size.

[2019-05-22 07:51] alubbe commented on #826
@guyonroche I was actually wondering the same thing. For node, we don't need it since anything we support (>= v6) has its own Promise library, and for the browser, babel can insert its own polyfill (if necessary).

[2019-05-22 12:14] daniele-orlando commented on #670
Version: **1.11.0**

`.spliceColumns()` does not work for me too.

[2019-05-22 12:50] dyt08 opened #830 "how to implement auto row numbering in the table?"
hello i have question, if we have many records with "No" Column on the table and we want to delete one or more record, the number on "No" Column This will not make a sequence again.. for example, we have 5 record and deleted 1 row in row 3, its will make the record like 1,2,4,5. will not be 1,2,3,4.. how to make it auto numbering as i hope here..? thanks in advanced..

[2019-05-23 11:00] zlzdp opened #832 "how to read xlsx file in browser with exceljs?"
I tried many way, but not work.
help

[2019-05-23 11:01] zlzdp commented on #832
I want read xlsx file and parse it in browser.

[2019-05-23 11:01] zlzdp commented on #832
I can't find any demo.

[2019-05-23 19:27] abmj1979 commented on #825
Hi @daniele-orlando,

did you figure out any way to bundle? i'm stucked in a angular project.

Best regards

[2019-05-23 19:41] daniele-orlando commented on #825
Unfortunately not.

[2019-05-23 19:51] abmj1979 commented on #825
@alubbe would you have some workaround to us for build, while the package don't go for publish?

best regards

[2019-05-23 20:30] dogusev commented on #572
@alubbe  @guyonroche
The same issue exists for me

[2019-05-23 20:53] dogusev opened #833 "Default font from source document can not be parsed."
Default font from source document cannot be parsed.
 after reading the document logging `A1` font returns undefined.
And after saving new document `Calibri 11` set instead by default

[input.xlsx](https://github.com/exceljs/exceljs/files/3214121/input.xlsx)

[2019-05-23 21:39] #825 closed

[2019-05-24 03:05] EliazTray commented on #832
1. get read files.
2. coerce the file object to `ArrayBuffer`(use FileReader)
3. use `workbook.xlsx.load` get workbook intance
4. traverse worksheet.

[code]

[code]

[2019-05-24 10:37] alxolr commented on #378
Hi guys, any updates on this issue because I have reproduced it by trying to export 1M records, the memory using the stream approach topped at 500MB which is weird because streams should have a linear memory footprint, it spiked to 1GB when committing the workbook and creating the file.

Any ideas on what could be the issue, maybe I can try to work on a PR.

[2019-05-24 11:56] alxolr commented on #378
Hi guys, found out the problem, it was the option `useSharedStrings` set on true, and all the strings were hashed and collected. Put it to false and the stream approach works amazingly: 1M rows 55 MB top.

[2019-05-25 10:12] NMHoang05 opened #835 "Outputed file has tons of extra columns"
Hello!
I just started using **exceljs** to day.
I want to read an xlsx file, make some changes and save it. But I'm not sure why the output files has tons of extra columns (all the way to `AMJ` column) and they're all hidden.

I printed some metrics to the console but there is nothing strange.
![ws-metric](https://user-images.githubusercontent.com/20160088/58367855-9d7d1200-7f0e-11e9-929c-bc982228

[2019-05-25 12:41] Ahmad-Abo-Saa opened #836 "draw circle conditionally in a cell"

[2019-05-25 15:44] titivermeesch opened #837 "Reading an xlsx file returns a TypeError"
Hi,

So I'm trying to read a xlsx file that is in the same folder as my Reactjs file, and here is what I got =>

`workbook.xlsx.readFile('data.xlsx').then(function() {
    console.log('File read')
})`

But then I got this error =>
Unhandled Rejection (TypeError): fs.exists is not a function

Can anyone help me with this please

[2019-05-26 05:23] NMHoang05 commented on #835
Hi again,
after debugging, I found that `ws._columns` has `1025` items and their `hidden` flag is `true` (this explains columns are outputed up to "AMJ" and are hidden)
and `ws._rows` has the correct number of items but their `hidden` flag is also `true`.

I'm not sure about the cause, maybe there are problems with my template file.
Anyways, this is my work around:
[code]

[2019-05-26 06:49] zlzdp commented on #832
thank you, it's working now.

[2019-05-26 06:49] #832 closed

[2019-05-27 09:31] Tilogorn opened #838 "sharedFormula results in empty cells"
Executing this minimal working example:

[code]
Leads to this table:

![Bildschirmfoto vom 2019-05-27 11-27-50](https://user-images.githubusercontent.com/7524854/58410566-b8689700-8072-11e9-9e4a-7470f22bede7.png)

Expected:

![Bildschirmfoto vom 2019-05-27 11-28-52](https://user-images.githubusercontent.com/7524854/58410576-bacaf100-8072-11e9-8d4a-b73ed2bb58c5.png)

I used this example from the do

[2019-05-28 09:50] charllie commented on #810
I solved this by adding:
declare const ExcelJS: any;

and in angular.json:
``
"scripts": [
   ...
   "node_modules/exceljs/dist/exceljs.min.js"
]
``

[2019-05-29 07:12] PratixaPathak commented on #106
Hi,
   I had the similar issue and i have used the font with bold.
   After looking into it it seems that what causes the issue is the font part.

  Font font = workbook.createFont();
        font.setBold(true);
        boldAndCenteredCellStyle.setFont(font);

  Ok, I figured out what the bug is.

  Let's say you create a workbook using POI. This has one font in it by default.
  When we create ano

[2019-05-29 14:04] oalexandru opened #839 "Duplicate or copy row together with stylings and data"
Hello,

Can anybody tell me how can I duplicate a row in a worksheet(I aim for identical rows, meaning stylings, borders, merged cells, data etc).I couldn't find a way.

P.S. What I actually want to achieve is duplicating a row in the middle of the spreadsheet, so that all the rows below are shifted by one row towards the bottom, but I could use only the duplication part, and I can carry on with t

[2019-05-29 21:00] Siemienik commented on #106
#732 #35 #745

[2019-05-29 21:50] troywweber7 commented on #30
I'm pretty sure it is because `workbook.xlsx.write(res)` returns a promise and you aren't waiting for that response to complete.

[2019-05-30 07:18] MrHuds0n opened #840 "How to add data to an existing workbook with the stream API?"
Is there an example of how to use the stream API in order to add new data to an existing Excel file?

[2019-05-30 07:21] MrHuds0n opened #841 "How to change worksheet views using the stream API?"
I would like to add frozen views to a worksheet created using the stream API. However, the following code doesn't work.

[code]

While the row with numbers is added correctly, the worksheet is without any frozen columns.

[2019-05-30 14:21] abmj1979 commented on #841
Hi,

try assigning the property .view as an array, like the example:

`
views: [
        { zoomScale: 87, zoomScaleNormal: 100, state: 'frozen', ySplit: 4 }
      ]
`

i think you can do like this too:

`  let sheet = workBook.addWorksheet('Estoque', {
      views: [
        { zoomScale: 87, zoomScaleNormal: 100, state: 'frozen', ySplit: 4 }
      ]
    });`

[2019-05-30 14:24] MrHuds0n commented on #841
Hi @abmj1979, the second way you listed works, thanks a lot for your help.

[2019-05-30 14:24] #841 closed

[2019-05-30 19:08] abmj1979 opened #842 "Exceljs don't work after build in Angular 7"
I have an application built in Angular and it uses exceljs to export some data in .xlsx.

For some reason I do not know, when I generate a project build, exceljs stops working. I found this https://github.com/exceljs/exceljs/issues/825 that refers to a similar problem.

Is there any way to work around the problem until the version that includes the changes is released?

Best regards

[2019-05-30 20:18] abmj1979 commented on #810
hi @charllie

Where did you add this code to put the build to work?

`declare const ExcelJS: any;`

Best regards

[2019-05-31 07:10] charllie commented on #810
You can put this in each component or file where you want to use ExcelJS (and remove for example ``import * as ExcelJS from 'exceljs'``)

[2019-05-31 07:15] charllie commented on #842
In my case, exporting with ExcelJS worked in development but not in production (I think there are some issues around Buffer).

However, you can use this little trick to make it work: https://github.com/exceljs/exceljs/issues/810#issuecomment-496447076

[2019-05-31 08:07] guyonroche commented on #529
Comments (aka Notes) added to v1.12.0

[2019-05-31 08:07] #529 closed

[2019-05-31 08:07] guyonroche commented on #451
Comments (aka Notes) added to v1.12.0

[2019-05-31 08:07] #451 closed

[2019-05-31 08:08] guyonroche commented on #707
Comments (aka Notes) added to v1.12.0

[2019-05-31 08:08] #707 closed

[2019-05-31 08:08] guyonroche commented on #202
Comments (aka Notes) added to v1.12.0

[2019-05-31 08:08] #202 closed

[2019-05-31 08:08] guyonroche commented on #503
Comments (aka Notes) added to v1.12.0

[2019-05-31 08:08] #503 closed

[2019-05-31 12:18] abmj1979 commented on #842
@charllie

It Worked!!! thanks for the tip!

[2019-05-31 12:18] #842 closed

[2019-06-02 02:51] #754 closed

[2019-06-02 02:52] brunoargolo commented on #754
This was resolved when migrating to tmp

[2019-06-02 15:25] chenop commented on #106
In my case the tab name consists single quote: "my tab's".
I just omitted them:
`title = title.replace(/'/g, "");`

[2019-06-03 00:22] RRGT19 commented on #810
Hi @charllie,
I have followed your advice but, didn't work for me yet. It works locally but not in production (inside a server, Amazon AWS).

I have:
[code]

Inside angular.json
`"scripts": ["node_modules/exceljs/dist/exceljs.min.js"]`

Any idea? What I'm doing wrong?

[2019-06-03 06:27] 152016726 commented on #832
I get the same confusion. but I want to create a new xlsx and download in browser

[2019-06-03 10:06] VinodhO opened #843 "I would like to add the note to Column header. Is it possible ?"

[2019-06-03 11:26] cerino-ligutom commented on #843
I currently have a need for this as well, any advice on how to achieve this?

[2019-06-03 12:28] abmj1979 commented on #810
Change your import to ExcelJS, like this:

`import * as ExcelJS from 'exceljs/dist/exceljs.min.js';`

[2019-06-03 15:05] RRGT19 commented on #810
Hi @abmj1979,
Thanks, it's working now. What I didn't understand is why the line `declare const ExcelJS: any;` should be there.

Also, why we need to add `exceljs.min.js` in **angular.json** if we are already using it as an import in our service.

[2019-06-03 20:07] dogusev commented on #839
@oalexandru

https://github.com/exceljs/exceljs#rows

I think this is something you are looking for
[code]

[2019-06-03 22:02] zachariahtimothy commented on #713
@pierre-aurele-martin did you ever submit a PR for this issue? I am like you and cannot allow unsafe-eval.

[2019-06-04 10:15] Alebat commented on #106
In my case it seems that long formulas are the issue. I can't figure out how to solve the problem, the xml in the xlsx that is produced looks good.
Is there any reference for the file and XML format?

[2019-06-04 21:08] dogusev opened #844 "Columns standardWidth is not supported"
I noticed that for columns StandardWidth value doesn't parse anywhere, and somehow set to default=`8`.
But in my xlsx files it is `2,75` and documents became completely different after simple read and write.
@guyonroche @alubbe could you please take a look at this?

It's also related to this issue https://github.com/exceljs/exceljs/issues/816

[input.xlsx](https://github.com/exceljs/exceljs/files/

[2019-06-04 22:01] dogusev commented on #844
this is kind of "dirty hack", to prevent such issues
seems that wrong units used
[code]

[2019-06-04 22:01] dogusev commented on #816
this is kind of "dirty hack", to prevent such issues
seems that wrong units used
[code]

[2019-06-05 03:46] faradaytrs opened #845 "Is it possible to add image with hyperlink?"
Is it possible to add image with hyperlink?

[2019-06-06 06:50] guyonroche commented on #664
@huntinghawk1415 Fix deployed in 1.12.1 - could you recheck please and close if satisfied

[2019-06-06 06:51] guyonroche commented on #398
Both warning and truncating names to 31 chars deployed in v1.12.1

[2019-06-06 06:51] #398 closed

[2019-06-06 07:05] VinodhO opened #846 "set columns type LIST"
I would like to create a column with type LIST is this possible??? Suggest any solution is there ???

[2019-06-06 09:56] zlzdp opened #847 "exceljs need higher performance, thank you"
I did some performance test, just compare exceljs with https://github.com/SheetJS/js-xlsx/ and xlsx-populate js lib.
js lib and version:
xlsx.js@0.14.3
exceljs@1.11.0
xlsx-populate@1.19.1
I tested it on web browser.

exceljs vs xlsx.js vs xlsx-populate
parse .xlsx file:
1MB file parse:
  882.985107421875ms
2481.923583984375ms
1339.385009765625ms

15MB file parse:
13153.964111328125ms
exceljs crash

[2019-06-06 10:00] zlzdp commented on #847
https://github.com/SheetJS/js-xlsx/  have better performance, but it is not full features excel lib.

[2019-06-06 10:32] seppe-dalen opened #848 "Table format / Theme"
Hi Guys,

Great lib! But one thing I really need and can´t figure out so far is "Table style" as it is called in Excel.

How can I add a table style to my excel sheet? Is this even possible?

An example would be "TableStyleMedium1".

Thank you!

[2019-06-06 11:59] victornikitin opened #849 "Wrong base font: hardcoded Calibri instead of font from the document"
There is a problem with a base font style in a lib:
/xlsx/xform/style/styles-xform.js

Currently a new base font is created for a workbook: Calibri, size 11.
But some documents have another base font style that is set in fonts collection in styles. For example: Arial, 8pt.

Problems:
1. This font style is used to determine columns size. When a Calibri font in applyed all columns get another width.

[2019-06-06 12:02] dogusev commented on #849
@guyonroche could you take a look on it?
I've also created 2 other issues on the same topic

[2019-06-06 16:10] KingRial opened #850 "editAs: default value is not "twoCell" but it's "oneCell""
As described in the library [documentation](https://github.com/exceljs/exceljs#add-image-over-a-range), when not using the "editAs" property, the behaviour should be as ["twoCell"](https://docs.microsoft.com/en-us/dotnet/api/documentformat.openxml.drawing.spreadsheet.editasvalues?view=openxml-2.8.1).

However the resulting exported excel uses "oneCell" as default value.

[2019-06-07 06:50] Coderwill commented on #213
@jderuere did find any solution to overcome this issue

[2019-06-07 06:56] Coderwill opened #851 "xlsx pipe from stream not working"
[code]

[2019-06-07 17:19] jderuere commented on #213
@Coderwill
I created an InputStream, input-xlsx.js:
[code]
And then:

[code]

Hope it will help.

[2019-06-10 17:58] numetrickyle commented on #433
Not only is your example use-case a really bad example of what a real world use-case for this might look like, it simply does not work.  What most people want in this situation is to have a table header as a merged and centered cell above the row of column labels where data may then be added by key.  I have tried a lot of things to get the `sheet.columns` to leave the first row of data alone but i

[2019-06-10 21:45] dogusev commented on #844
https://github.com/exceljs/exceljs/pull/854

[2019-06-10 21:46] dogusev commented on #833
https://github.com/exceljs/exceljs/pull/854

[2019-06-10 21:46] dogusev commented on #816
https://github.com/exceljs/exceljs/pull/854

[2019-06-11 07:02] nakshay commented on #151
I have same question, how to freeze selected cells

[2019-06-11 11:28] alonrbar commented on #440
Hi,

First of all really love your library!

Joining the original commentor, would be nice if there will be a simple changelog (worth a short reading: [https://keepachangelog.com](https://keepachangelog.com)). It doesn't need to start from the beginning of time, just from now on.

Thanks!

[2019-06-11 13:59] Senneseph commented on #821
In my tsconfig.json, I have this:

  "compileOnSave": false,
  "compilerOptions": {
    "paths": {
      "exceljs": ["node_modules/exceljs/dist/exceljs.min"],
    },

And then in my component, I can do: `import { Workbook } from 'exceljs'`

However, the whole exceljs library gets pulled in, even if your are only using a single export.  I'd like to know if there is a way to slim it down and if it r

[2019-06-12 05:58] nakshay opened #856 "support to protect sheet and unlock specific columns?"
Does excelJs provides support to protect sheet and unlock some specific columns?

[2019-06-13 11:21] yoyo837 commented on #276
[code]

The style of the columns does not move after splice.

[2019-06-13 15:16] Poltergeisen commented on #573
Would be nice if this was part of the docs!

[2019-06-13 19:08] dataSQL opened #858 "Possible to write with Excel open?"
Is it possible to append data to an open Excel file, allowing viewing of the row population?

[2019-06-14 03:17] yoyo837 opened #859 "[Question]How to make text not wrap and overflow hidden ?"

[2019-06-14 03:43] anstosa opened #860 "worksheet.commit is not a function"
I'm sure I'm being an idiot and it's too late to be programming but I can't see it. plz help.

[code]

[2019-06-14 10:53] TranBaVinhSon opened #861 "How to get cell by name ?"
For now, I have to hardcode like this
[code]
But I want to define my cell by name like `data` and access the cell by:
[code]
<img width="151" alt="Screen Shot 2019-06-14 at 19 47 54" src="https://user-images.githubusercontent.com/12994069/59504218-6ed6d380-8edd-11e9-814b-d9db81361ade.png">

**How can I do that with exceljs ?**
Thank you very much!

Note: The only solution seems to solve my problem

[2019-06-17 11:54] erixtekila opened #864 "File association in osx"
Hi,

Exporting fresh xslx file is not recognized as spreadsheet by osx.
Then you have to open the file directly from libreoffice or the other spreadsheet's applications.

[2019-06-17 14:58] erixtekila commented on #104
Me either.
I get an error

[code]
Meaning unable to open the file.

[2019-06-17 15:40] erixtekila commented on #864
Sorry I close this issue.
I mispelled the extension to XSLX !

[2019-06-17 15:40] #864 closed

[2019-06-17 15:43] erixtekila commented on #104
Sorry I mispelled the extension.
Disregard my comment.

[2019-06-17 15:43] erixtekila commented on #104
Sorry I mispelled the extension.
Disregard my comment.

[2019-06-18 02:56] zlzdp opened #865 "exceljs parse .xlsx throws: TypeError: Cannot read property 'company' of undefined"
exceljs parse .xlsx throws: TypeError: Cannot read property 'company' of undefined.

https://cdn.jsdelivr.net/npm/exceljs@1.12.1/dist/exceljs.js
row No.  14886
[code]
but parse it in sheetjs is well.

my code:
[code]

thank you.

[2019-06-18 02:56] zlzdp commented on #865
I use it in browser.

[2019-06-18 08:08] arkanos commented on #598
Hi @GrayDelacluyse,

Could you please share an example of how did you handle this?

Thanks!

[2019-06-18 13:34] mtawara commented on #446
I tried using both png and jpg. Both are not working.

[2019-06-18 14:22] i365 commented on #768
I find a simple demo for working on client web browser
[exceljs example demo for browser ](https://jstool.gitlab.io/demo/exceljs/?g)

[2019-06-19 02:06] i365 commented on #443
[exceljs.js usage example on web browser](https://jstool.gitlab.io/demo/exceljs/?g2)

[2019-06-19 08:13] newPromise commented on #840
@MrHuds0n
can you find the solution ?

[2019-06-19 09:38] svedbg commented on #845
No it's not possible. What you can do is to grab the remote image and convert it to base64, then insert it in the cell.

[2019-06-20 05:35] anshumansworld commented on #768
[code]

It's working fine on local but nothing happens on stage env after deployment.

[code]

It's working fine on local but nothing happens on stage env after deployment.

[2019-06-20 06:25] Florian007 opened #866 "writeExcel TypeError: Cannot read property 'texts' of undefined"
Hi, I am using
"exceljs": "^1.12.1",
"xlsx": "^0.14.3"
After cloning and saving an Excel .xlsx file with following code

`let newWorkbook: Excel.Workbook = new Excel.Workbook()
    const workbook: Excel.Workbook = new Excel.Workbook()
    await workbook.xlsx.readFile(sourceFilePath)
    newWorkbook.views = workbook.views
    newWorkbook.model = workbook.model
await newWorkbook.xlsx.writeFile(write

[2019-06-20 13:58] Fenny commented on #866
Same here since 1.12.1 update

[2019-06-21 05:43] mayassalman opened #867 "rowHieght autoFit not working for rows before 36!!!"
rowHieght autoFit not working for rows before 36!!!

![36](https://user-images.githubusercontent.com/10595390/59900257-3fa1f400-9400-11e9-9626-3b885aeec46e.JPG)

[2019-06-21 10:32] quex46 opened #868 "Can't add cell comment using streaming WorkbookWriter"
By using streaming WorkbookWriter I'm getting error if I try to add cell comment.

exceljs **v1.12.2**
nodejs **v10.11.0**

Here is the minimal snippet to implement the issue:

[code]

result:

[code]

Switching from streaming to another method resolves the issue.

[code]

[2019-06-21 21:27] alabaki opened #869 "Support Writing Images in Stream Mode"
Hello @guyonroche
Currently it is not possible to add images when working in steam mode. Are there any plans to implement this feature? **I am willing to sponsor and pay for the development of this functionality**.
Thanks

[2019-06-21 22:11] trappar opened #870 "Fonts are completely broken"
Currently the first declared font will affect the entire worksheet. It doesn't seem to matter if you set a column, row, or cell - all of these will affect the whole document with seemingly no way to override it once it's been set.

It also seems like subsequently declared fonts affect future cells. Are fonts meant to be some sort of stateful thing? It seems like they should be reset unless they ha

[2019-06-22 19:30] barbalex opened #871 "workbook.xlsx.writeBuffer() silently breaks since v1.11.0, only in production"
I have a hard time believing what is happening to me: After getting error complaints from users I found that exports are silently failing. Only in production. It works fine in dev mode!?

After some debugging I could narrow it down to the `await workbook.xlsx.writeBuffer()` line in this module of mine, as console.log nr. 5 is the last to appear in production:

[code]

I then started rolling back v

[2019-06-23 05:39] Gricardov opened #872 "Add empty row and shift the rest"
Hello team!
I'm reading a xlsx document as template and editing some cells based on a json array. For each iteration, I have to insert an empty row so it can leave room for the remaining item. I tried spliceRows but it causes the rows below to lose their styles.  Please help

[2019-06-23 05:44] Gricardov commented on #839
I'm having the same problem. I want to shift down the content without losing styles :(

[2019-06-23 06:45] JoeWinger commented on #161
Just wanted to pop in a few years late and say that this fixed it for me too. I was trying to use `worksheet.columns.push(x)` in a for loop and having an issue. Thanks!

[2019-06-23 21:12] Galeups commented on #871
Hello. I am agreeing on this. But, why do you close this issue? this is don`t work in a new version 1.12.0.
Thank you @barbalex  it is helped me on my project. I downgraded this package to 1.10.0 version.

[2019-06-24 09:04] oalexandru commented on #839
Managed to copy the style, height, borders and values from one row to the other pretty easily with:

currentCell.style = cellToBeShifted.style;
currentCell.value = cellToBeShifted.value;
currentCell.height = cellToBeShifted.height;

but didn't find a way of copying the merging model, so I ended up removing all the merges from the document and applied merging manually after I did the shifting with

[2019-06-24 11:03] DimosthenisK commented on #870
I am having the same issue. Also, this is listed as fixed in a merged PR 7 days ago.

[2019-06-25 08:45] barbalex commented on #871
@Galeups The closed issue is the one stating that exports did not work in our project. Rolling back exceljs solved that.

The issue with exceljs remains, so _this_ issue should remain open until the issue is resolved.

[2019-06-25 10:51] mewild commented on #871
+1

writeBuffer works no problem in my dev environment, as soon as I build to production it breaks.

There is no error created either, the promise doesn't get resolved and the catch doesn't get triggered.

[2019-06-25 14:57] felixOvianet commented on #642
I am also interested to know if theses features are non-existent or simply non-documented at the moment?

[2019-06-25 17:42] petigrafix commented on #701
Workaround: add `width` to the column

[2019-06-26 09:11] tianhai82 commented on #870
I also encounter the same issue on 1.12.2.

[2019-06-26 11:29] Harsimran247 opened #875 "how to place worksheet.columns in 2 row"
I want to place column header in 2nd row and in 1st i want to add some other text.

[2019-06-26 16:51] hzamir commented on #870
Encountering this issue also

[2019-06-27 07:21] yoyo837 commented on #875
![image](https://user-images.githubusercontent.com/6134547/60245378-15b06c00-98ef-11e9-9975-4be90311b9c4.png)

I'm using `worksheet.slice Rows`

[2019-06-27 07:40] Harsimran247 commented on #875
Hi !
Thanks for the help. I resolved this issue a bit differently.
Refer this comment : https://github.com/exceljs/exceljs/issues/433#issuecomment-343955264.
This also works.

[2019-06-27 07:40] #875 closed

[2019-06-27 09:15] lokidokicoki commented on #801
Fixed in exceljs@1.13.0

[2019-06-27 09:15] #801 closed

[2019-06-27 10:09] JayEdver opened #876 "how to get the column key form an existing xlsx file that was created by exceljs"
i don't want to use it by the _number.so is there any way to get the column key ?
![image](https://user-images.githubusercontent.com/22462097/60257930-acd4ee00-9906-11e9-85e3-a3362df13ad5.png)

[2019-06-28 15:26] kingofferelden commented on #870
Encountered this issue too

[2019-06-28 16:54] DimosthenisK commented on #870
Guys, this is really important, can we get it fixed? I tried finding out and submitting a pull request but I can't find what is going on.

[2019-06-28 18:10] drullo commented on #871
Confirmed... I'm having the same issue after updating to version 1.12.2

[2019-06-29 08:48] erixtekila commented on #315
Same bug here.

[2019-06-29 09:07] erixtekila commented on #315
@GregoryNEUT Would you mind giving an example, please ?
I can't get to use cell names in formulas.

[2019-06-29 09:30] erixtekila commented on #315
OK I get it !
For the record, here is a snippet

[code]

[2019-06-29 10:30] aexei opened #877 "bug: Hyperlink without text crashes write"
My current program reads in an existing .xlsx that contains a few cells as hyperlink without a text.

The lib crashes with

Cannot read property 'richText' of undefined
    at module.exports.add (exceljs/lib/xlsx/xform/strings/shared-strings-xform.js:37:18)

I will send a PR with a fix

[2019-06-29 14:51] nfunwigabga opened #879 "cell font styling is applied to entire sheet"
I tried to apply font style to a single cell but the style gets applied to the entire worksheet. eg

`worksheet.getCell('A1').font = { color: { argb: '3a80d5' }}`

Expected result:
Cell A1 font color should be #3a80d5

Actual result:
All cells in the worksheet have font color #3a80d5

Also I tried to apply this to a column as follows:
[code]

I expect that all cells in column `columnId` should hav

[2019-06-29 14:53] nfunwigabga commented on #870
Same problem here

[2019-06-30 06:59] aexei commented on #877
#878

[2019-06-30 08:10] aexei opened #880 "bug: malformed comment crashes on write"
My current program reads in an existing .xlsx that contains a few cells with a malformed comment.

The lib crashes with

Cannot read property 'texts' of undefined
    at module.exports.render (exceljs/lib/xlsx/xform/comment/comment-xform.js:53:20)

I will send a PR with a fix

[2019-07-01 09:03] Tilogorn commented on #879
Can confirm this for setting `bold: true`. Applied to `A1` and the whole sheet is bold.

exceljs@1.12.1 is the last working version. I made a rollback.

I suspect "Merged Always keep first font #854" in release 1.12.2 (https://github.com/exceljs/exceljs#release-history), but just guessing.

[2019-07-01 11:43] havietduc91 commented on #879
I'm facing the same issue with @nfunwigabga  cell font styling is apply for all cells
I'm trying set font for cell A1, something like this
[code]
But all cells has save font with A1 cell

[2019-07-01 11:50] havietduc91 commented on #870
Same issue here, cell font styling is applied for all cells
I'm trying set font for cell A1, something like this
[code]
But all cells have the same font with A1 cell, anyone has any solution to resolve it?

[2019-07-01 14:29] jeff-1984 commented on #871
+1
thanks

[2019-07-01 15:46] wertie commented on #871
Still having the same problem with version 1.13.0 -- downgrading to 1.10.0 solved the issue. Thank you @barbalex !

[2019-07-01 16:34] karabaesh commented on #685
Issue also requested in:
#438
#642
#856

@r4tz52 xlsx-populate provides an encryption for proctected workbooks. However, it provides the required algorithms to protect worksheets. To protect worksheets, the additional "sheetProtection" tag is required in sheet*.xml, e.g.:
`<sheetProtection algorithmName="SHA-512" hashValue="OQLQHu+KDlkf5WW6yqh0QppJH0bNL1K3lEz0nZLKOJNXlvstmlhkBHZeq56ahR+zT+ZBYDosyL

[2019-07-01 16:40] karabaesh commented on #438
In #685, "xlsx-populate" package was proposed to decrypt/encrypt proctected workbooks. However, it provides the required algorithms to protect worksheets. To protect worksheets, the additional "sheetProtection" tag is required in sheet*.xml, e.g.:
`<sheetProtection algorithmName="SHA-512" hashValue="OQLQHu+KDlkf5WW6yqh0QppJH0bNL1K3lEz0nZLKOJNXlvstmlhkBHZeq56ahR+zT+ZBYDosyLW/7GOLsci6zA==" saltValue

[2019-07-02 02:49] havietduc91 commented on #870
+ 1
We can down version to resolve this issue, the exact version is `"exceljs": "1.12.0"`
I try it and it's work pretty perfectly

[2019-07-02 07:56] dooonabe commented on #871
+1
thaaaaaaaanks

[2019-07-02 09:38] Alebat commented on #866
Same here, another workaround is to remove all the comments

[2019-07-02 09:58] Diluka commented on #216
This is working and the example in `README.md` isn't
https://github.com/exceljs/exceljs#hyperlink-value
@guyonroche

[2019-07-02 11:14] EZarkov opened #881 "Multiple image positioning in first column"
The positioning of multiple images in the first column is broken because of improper check  at https://github.com/exceljs/exceljs/blob/v1.13.0/lib/doc/anchor.js#L23

[code]

when `address.col = 0` it will go to final statament it is the same for `address.nativeCol`

example usage:
[code]

[2019-07-02 11:53] murphyproject opened #882 "Process doesn't exit < 8.12.0"
I had issue closing my app with cmd+x (SIGINT).
The process doesn't close.

Could you please add a note in changelog. The problem appeares in version 1.9.1, because temp package got upgraded.

https://www.npmjs.com/package/tmp

Node Version: < 8.12.0
Package Version: > 1.9.0

Thanks a lot

[2019-07-02 12:06] papandreou commented on #882
I also ran into this and brought it up here: https://github.com/exceljs/exceljs/commit/6f589b2557e41440d1632440d144965aee69531b#commitcomment-33747017

The workaround is to downgrade to exceljs 1.10.0 until https://github.com/raszi/node-tmp/pull/193 gets landed 🤷‍♂

[2019-07-03 03:37] thuxeko opened #883 "Cannot export files on IIS Server"
Hello.

I used Exceljs to read a file and then put the data in and pack it back to the user. My code is as follows:

`this.http.get('assets/Temp/demo.xlsx', { responseType: 'arraybuffer' })`
      `.subscribe(data => {`
        `var workbook = new Workbook();`
        `console.log('1');`
        `workbook.xlsx.load(data)`
          `.then(function () {`
            `console.log('2');`

[2019-07-03 06:54] mohanramegowda opened #884 "Macros not updated in the new file on reading and saving the file"
I am using this package in Angular 7 application to download an excel file from the remote url and update it with some new data in one of the sheet of that file. I am saving the file using file-saver package.

The file is getting saved with the updated data correctly, but the macros are missing in the saved file. Below is the code i am using:

import * as Excel from "exceljs/dist/exceljs.min.js";

[2019-07-03 08:34] dooonabe commented on #871
when i use `ng build --prod --base-href /dc/` build my project,this problem occurs，And i use `ng build --aot --base-href /dc/` build my project, it works good.

[2019-07-03 09:58] mllrdev-miguelsobong commented on #843
I would like this feature as well

[2019-07-03 10:01] hilanmiao opened #885 "import Exceljs caused electron application error"
![image](https://user-images.githubusercontent.com/27052900/60582176-df755f80-9dba-11e9-872b-f593554fa289.png)

i used it on my electron appliction, if i use 'exceljs/modern.browser'，then electron-builder made a mistake.

![image](https://user-images.githubusercontent.com/27052900/60582553-a4bff700-9dbb-11e9-9f61-c72853d5bc49.png)

change it，work good。
[code]

If you have time, please check this i

[2019-07-03 12:12] MrHuds0n commented on #840
No, still waiting for an answer.

[2019-07-03 15:25] carolharry commented on #883
This post suggest to downgrade exceljs version to 1.10.0 https://github.com/exceljs/exceljs/issues/871

[2019-07-03 18:09] carolharry opened #886 "Cannot export excel file on server"
I have downgraded exceljs to 1.10.0 as suggested by other sites as the file is not download.  Now on the server I get " Bundles?v=lcqaclGHmBykQRmnuQ1uECa-_GIqnj5sIobWGGwpeFM1:1 Uncaught SyntaxError: Setter must have exactly one formal parameter."  The whole site doesn't load at it shows error somewhere related to excelworkbook.  Any help please?

[2019-07-03 19:44] Michelangelo1984 commented on #871
1.13.0 Still has this issue, downgraded to 1.10.0 and everything works fine.

[2019-07-03 21:39] cheninformz commented on #879
same here. font on one cell applies to whole sheet.

[2019-07-03 23:30] autukill commented on #870
https://github.com/exceljs/exceljs/commit/3cf69cd8b72b69de85556fdeef5705e74482288a

[2019-07-04 02:22] havietduc91 commented on #879
@nfunwigabga, @cheninformz , We can down version to resolve this issue, the exact version is `"exceljs": "1.12.0"`
I try it and it's work pretty perfectly

[2019-07-04 02:40] JayEdver commented on #865
did you found the solution? i have the same problem

[2019-07-05 02:07] i365 commented on #510
import exceljs from cdn: https://cdn.jsdelivr.net/npm/exceljs@1.12.1/dist/exceljs.min.js
read xlsx file and parse it:
[code]

[Using exceljs.js in a web browser](https://jstool.gitlab.io/demo/exceljs/)

[2019-07-05 10:52] redixhumayun commented on #880
Hi, is there any update on the status of PR?
I am currently unable to write an XLSX workbook that contains comments. However, if I roll the version back to a stable 1.11.0, my comments are no longer saved when I write the workbook.

[2019-07-05 11:10] aexei commented on #880
see #887

[2019-07-07 06:09] icaife commented on #871
version: 1.13.0   +1

[2019-07-08 17:12] ABenassi87 opened #888 "Add Compression level option to WorkbookWriterOptions for streaming"
It is related to https://github.com/exceljs/exceljs/pull/862, we are having some performance issues and we need the same option for `stream.xlsx.WorkbookWriter`

[2019-07-08 18:55] #888 closed

[2019-07-09 11:30] mylle opened #890 "Style doesn't get applied"
Hi, I'm trying to add styling to my Excel file, but nothing happens.
The 'mergeCells', and 'getRow(X).height' style works, but anything with font doesn't work:

[code]

I am using version 1.12.0, I also tried 1.13.0

[2019-07-10 06:24] mercmobily commented on #35
I can sadly confirm the problem. Wasted 6 hours on this...

[2019-07-10 11:45] qly01 opened #891 "showGridLines for printing not working"
I create a worksheet with this code: ` const worksheet = workbook.addWorksheet(sheetName, {
        pageSetup: {
          showGridLines: true,
          fitToPage: true,
          fitToWidth: 1,
          fitToHeight: 0,
          orientation: 'landscape',
          horizontalCentered: true,
          printTitlesRow: '1:1',
        }
      }
    );`
But when I print the excel downloaded, there ar

[2019-07-10 14:57] Senneseph commented on #871
I'm also having this problem with this library in Angular+CLI (8.2.0-next.0 atm).  I tried switching to 1.10.0, but I have the same problem.

I think it's a combination of Angular CLI's build process being broken and some quirk with this library.  Like the Promise library used by ExcelJS has been replaced by some kind of empty placeholder function.

Is there anything I can do to research this more

[2019-07-12 07:30] IAM20 commented on #890
Try this

[code]

[2019-07-13 18:02] #448 closed

[2019-07-13 18:02] #432 closed

[2019-07-14 19:32] papandreou commented on #882
Ping @alubbe, given that the latest exceljs is affected, and that it seems to take a while to get that `tmp` issue fixed -- do you think there's anything we can do here? Do you think the cure is worse than the disease?

[2019-07-15 01:02] mercmobily commented on #230
I know this issue is closed and I am late to the party, but please allow me to leave my 2c:

* this precious, priceless hint should be documented
* there should be a method to set a cell as "To recalculate", to be used if exceljs modifies a cell that should trigger a recalculation

[2019-07-15 07:16] mylle commented on #890
Thank you, this solved the problem!

[2019-07-15 07:16] #890 closed

[2019-07-15 09:37] alubbe commented on #882
Let's ask them - ideally, they merge the PR and we have the best of both worlds

[2019-07-16 08:31] Nguendai commented on #460
the same problem, Can you hepl me, please

Thanks

[2019-07-17 01:20] toygar00 opened #893 "Cell height is not auto fit by default anymore"
Due to the below change, by default, cell height does not auto fit.
Need to set "worksheet.properties.defaultRowHeight = 0;" in order to auto-fit again.
Not sure if this was intended with the below change

https://github.com/exceljs/exceljs/commit/902d7e48593a0f5009aeaa3af4bcc7a15d8a12b9

[2019-07-17 04:39] kallelat commented on #879
Any updates on this issue?

Pretty annoying as we are setting a different font for certain "header-kind-of" cells to emphasise those cells, but the same font declaration ruins the rest of the document.

1.12.0 works fine, or I could just manually set desired font for each column - but that seems like awfully lot of overhead...

[2019-07-17 07:48] GunnerUjjwol commented on #879
this has been bugging me for a while now,
I had been scratching my head over what I did wrong with my code, turns out it is a problem everybody has been facing.

[2019-07-17 17:03] bertrandmartel commented on #588
I had the same issue after saving an xlsx file using LibreOffice using the Microsoft Excel 2007-2013 XML (.xlsx) format. When using the original file from Excel it worked correctly

[2019-07-18 03:25] TranBaVinhSon commented on #836
Sample question!

[2019-07-18 04:40] AriPerkkio commented on #871
I had the same issue on some browsers with version 1.12.0. Adding polyfill for Number.isNaN fixed this issue for me.
`import 'core-js/features/number/is-nan';`

By comparing version 1.10 and 1.12, it seems that global isNaN was replaced with Number.isNaN for some reason.
https://github.com/exceljs/exceljs/blob/v1.12.0/lib/csv/csv.js#L71
https://github.com/exceljs/exceljs/blob/v1.10.0/lib/csv/csv.j

[2019-07-18 10:06] r4tz52 opened #894 "Wrong image position for non-integer coordinates"
Hi all,
I'm trying to place 16x16 image at arbitrary place of the worksheet. I set col number to 1.5, but it looks like image appears at the beginning of "B" column PLUS half of default column width, not half "B" column width.

**Code:**
[code]

**Expected result:**
Image appear in the middle of "B" column.

**Observed result:**
Image appear near left border of "B" column.

**Environment:**
-  exc

[2019-07-18 11:26] DimosthenisK commented on #879
Same thing. This completely breaks all styling capabilities

[2019-07-18 20:41] Tri-Vi opened #895 "How to avoid truncating leading 0 from cell value from a .csv file"
**Problem:**
I use this library to read a .csv file. Inside my .csv file, there is a cell with a leading zero value (0001234). When .csv file is read, the leading 0 value cell gets truncated and becomes a 1234.

**Question**:
Is there a way to avoid that truncate leading 0 issue when read .csv file ?

[2019-07-18 22:27] glenpurdy commented on #879
I've run into the same thing and would like the bug fixed, but I worked around this by applying a bold: false style to a cell before I applied the bold style to the header cells:

`worksheet.getCell('A2').font = { bold: false };
...
worksheet.getRow(1).font = { bold: true };
`
I think the first *.font assignment sets the default for the entire workbook.

[2019-07-18 23:47] Senneseph commented on #871
Good catch, @AriPerkkio

It looks like the 1.12 authors are modernizing the codebase (note the `var`s becoming `const`s and `function` phat aero `() => {}`)

I will try the import this evening.

[2019-07-20 14:24] dreamdevil00 commented on #871
@AriPerkkio could you please make a pr?

[2019-07-22 02:30] dreamdevil00 commented on #734
Any updates?

[2019-07-22 04:30] TranBaVinhSon commented on #836
For example, I want to put a circle around `昭 5` or a circle inside the cell of `昭 5`, is that possible ?
<img width="167" alt="Screen Shot 2019-07-22 at 12 32 15" src="https://user-images.githubusercontent.com/12994069/61606269-63b55700-ac84-11e9-95de-ef0f65d494b3.png">

[2019-07-22 04:31] AriPerkkio commented on #871
@dreamdevil00 I could but this would require some changes to current eslint settings. Master branch contains 2244 eslint errors so I'd rather not do changes here.

[2019-07-22 08:43] sujeet27 commented on #37
@chenop @navjotdhanawat I'm trying same thing but still stuck. Any help would be much appreciated.

And the file is getting downloaded via postman but not by browser.

Backend Code
            var fileName = 'FileName.xlsx';
            res.setHeader('Content-Type', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet');
            res.setHeader('Content-Disposition', 'attachment; f

[2019-07-22 20:21] fahadjabbar8 commented on #886
Use uncompressed file of exceljs rather than minified one and it wil work fine.

[2019-07-23 03:03] TranBaVinhSon commented on #605
@acefael Did you find a solution?

[2019-07-23 08:16] aluyue commented on #879
The same problem has been encountered, and the structure and style are in disorder. I hope it can be repaired as soon as possible.

[2019-07-25 05:36] timothy-mccarthyfinch opened #897 "Is there a simple way to read all values in a column?"
I would like values by column, is there an efficient way to do this?

regards.

[2019-07-25 09:27] zengwe opened #898 "there is confuse of col style and row style?"
I first set the background color of column A to red, and then set the background color of the first row to green. It's saved in sheet data, but it's impossible to distinguish the order in which the colors are set.

[2019-07-25 10:23] pkjy commented on #845
Now exceljs can set a hyperlink to a cell, but it can't set a hyperlink on a image.

[2019-07-25 13:11] pkjy opened #899 "Is there any way to embed an image with hyperlink"
It seems like we can embed image and insert hyperlink.
![image](https://user-images.githubusercontent.com/14119424/61876888-7350cc00-af20-11e9-9586-2abf5db99273.png)

Is there any way to embed an image with hyperlink just like the example below:
![image](https://user-images.githubusercontent.com/14119424/61876593-d3933e00-af1f-11e9-948b-6800fab5d405.png)

[2019-07-25 16:17] MusicDev33 commented on #35
Experiencing this problem as well. If I open the file and just write it without changing it, nothing goes wrong, but if I change one cell, I get this error.

[2019-07-25 21:19] mercmobily commented on #35
I solved the problem by using:

https://www.npmjs.com/package/xlsx-populate

All sorts of small formatting problems simply disappeared.
I cannot recommend it enough.

[2019-07-26 08:46] seppe-dalen opened #900 "Bold text inside cell"
Is there a way to make a specific part of the a text/string bold?

Example: when giving the value input for a cell: "`<b>`Hello`</b>` World!" this would result in "**Hello** World!" in the given cell.

Some one knows a way to do this with Exceljs?

Thanks!

[2019-07-28 21:47] TheInvoker opened #902 "How to format as table and download file on client side?"
I want to format the table as a table and also download it as a file on client side. I have this so far. This does not format it as a table, and also seems like my download code is overkill?

[code]

[2019-07-29 06:09] #876 closed

[2019-07-30 05:53] GunnerUjjwol commented on #871
The problem persists for me in version 1.13.0.
Will this be fixed in upcoming update?
So that,I dont have to specifically downgrade to 1.10.0

[2019-07-30 06:31] acefael commented on #605
@TranBaVinhSon: no I could not find a solution to my problem here.  I found another way to get what was needed.  The feature I wanted here might not be in scope for exceljs and I'd understand that.  For me it would be ok to close this issue with a "won't fix".

[2019-07-30 06:31] #605 closed

[2019-07-30 08:50] Linpter commented on #383
I'm also hoping for a way to do the same. Does anyone know how i can do it even it means dig a bit in the code ?

[2019-07-30 11:41] amitarabatti opened #904 "Sorting is not working after i apply auto filter"
I have added the autofilter by using the below code :

`var ws = XLSX.utils.json_to_sheet(excelData);
                    var lastcell = excelData.length + 1;
                    ws['!autofilter'] = { ref: "A1:M" + String(lastcell) };
                    ws["!freeze"] = "A2";
                    ws['!formatColumns'] = true;
                    var wscols = [
                        { wch: 20 }, {

[2019-07-30 14:35] chriscdn commented on #900
Have a look at the section on [Rich Text](https://github.com/exceljs/exceljs#rich-text).  In one example you can see how bold is set.

[2019-07-30 15:34] sdd239 commented on #900
Ah great! I missed that part.

Thanks

[2019-07-30 17:05] #877 closed

[2019-07-31 01:46] sophiedophie opened #905 "String becomes `Infinity` after `Number()`"
Hello, I found an issue here.
https://github.com/exceljs/exceljs/blob/master/lib/csv/csv.js#L71

At this line, if we get the string such as `6E10000`, then datumNumber would be Infinity but still return it because `!Number.isNaN(datumNumber)` is true so we can't open the generated excel file.

[code]

So we should add one more condition, so the condition should be
[code]

If people agree with this

[2019-07-31 01:57] sophiedophie commented on #905
https://github.com/exceljs/exceljs/pull/906 Please take a look!

[2019-07-31 03:02] hzamir commented on #870
supposedly fixed today 1.14.0 found it 15 minutes after it was published.

[2019-07-31 06:04] chriscdn commented on #900
It seems to be a bit buggy, however.  I need to run more tests, but it seems if you apply bold to cell A1 it bolds everything on the sheet.

[2019-07-31 10:27] vladivanovrf commented on #879
It looks like the issue is fixed in version 1.14.0

[2019-07-31 12:36] karabaesh commented on #438
Solution suggested in #907

[2019-08-01 06:50] guyonroche commented on #880
@redixhumayun and @aexei - fix published in v1.14.0 can you verify and close this issue if fixed?

[2019-08-02 06:34] olgunkaya opened #909 "Writing XLSX with file extension"
Call `workbook.xlsx.writeFile` method the generates file without extension. I believe it should add .xlsx extension if not provided by the caller.

[2019-08-02 11:13] vpsudhin commented on #771
Hi Team,

I'm also facing the same issue when I try to read excel file which is created in ms excel.

[2019-08-02 16:36] useralive003 opened #910 "Error: Worksheet name already exists: My Sheet"
Error: Worksheet name already exists: My Sheet

var Excel = require('exceljs');

function test(invoices) {

    var workbook = new Excel.Workbook();

    var worksheet = workbook.addWorksheet('My Sheet');

    worksheet.getRow(1).font = { bold: true };
    worksheet.getRow(1).alignment = { horizontal: 'center', vertical: 'middle', wrapText: true };
    worksheet.getColumn('B').alignment = { horizo

[2019-08-02 21:50] brunoargolo commented on #868
+1

[2019-08-03 00:08] jazminvalencia commented on #433
como se hace para ponerle mas alto a las filas ?

[2019-08-03 03:49] Quantumplation commented on #383
Uh, not sure I understand the previous two comments.

First, @jathanasiou CSV stands for Comma Separated Values, so I would expect them to be comma separated ;)

Second, @Linpter looks like this has since been added, as of this PR:

https://github.com/exceljs/exceljs/pull/549

Closing this issue since it's been addressed.

[2019-08-03 03:49] #383 closed

[2019-08-03 03:50] Quantumplation commented on #383
(As a side note, it looks like the library used to support custom separators, but no longer does: https://github.com/exceljs/exceljs/blob/3623df4522b390a84b4eda34aab56e9bbefce571/lib/csv/csv.js#L106)

[2019-08-04 03:44] brunoargolo commented on #868
Opend a PR for that: https://github.com/exceljs/exceljs/pull/911

[2019-08-05 07:58] gezi666 opened #912 "我想在浏览器里用，怎么办？"

[2019-08-05 14:06] jfhdevs commented on #871
Tested today, the problem persists for me in version 1.14.0. (New Features does'nt mention correction of #871).

[2019-08-05 17:30] MusicDev33 commented on #897
https://github.com/exceljs/exceljs#columns I'd start here, specifically this line:
[code]

This is assuming you already know how to read the file into a workbook, then get the worksheet. The overall implementation would look like this:
[code]

[2019-08-05 17:43] MusicDev33 commented on #35
@mercmobily Are you using this as a replacement for ExcelJS or are you using the data validation part of xlsx-populate?

[2019-08-06 01:15] mercmobily commented on #35
I am using it to take an Excel sheet, use it as a template, and change some of the cells programmatically.

[2019-08-06 18:22] andresgottlieb commented on #133
@Siemienik it's still happening to me with v1.14.0. A 10MB file eats +2GB of RAM and my server crashes. I had to move to [SheetJS](https://github.com/SheetJS/js-xlsx), and it worked like a charm (around 500MB RAM)

[2019-08-07 10:39] qwang07 opened #914 "How can I get each row as a JSON object with header line as the object key?"
I can get each row as JSON object in `js-xlsx`:

[code]

Is there any similar functions in `exceljs`?

[2019-08-07 15:47] Congyi-Shi opened #915 "Cannot use streaming with angular8,"
When I use angular8 , I have test
"import * as Excel from 'exceljs/dist/exceljs.min.js';"
and get response
sviz.error.handler.ts:68 TypeError: Cannot read property 'xlsx' of undefined;
I tried to use
"import Excel from 'exceljs/modern.browser';"
with errors :
ERROR in ./node_modules/exceljs/dist/es5/csv/csv.js
Module not found: Error: Can't resolve 'fs' in 'C:\Users\P092785\SVIZ\sviz-stack\app\svi

[2019-08-08 15:32] A1rPun commented on #794
1. Is done already
2. Pinning on major version is good practice, why removing this caret for `jszip` specifically?
3. This is a must. I wanted to make use of this library until I saw `moment` in the `package.json` which is [33% of your current codebase](https://bundlephobia.com/result?p=exceljs@1.14.0)!
4. Is done already

[2019-08-08 15:39] A1rPun commented on #915
`fs` is a filesystem module which is available for the node version. What happens if you don't target a specific file? Like this:
[code]

[2019-08-09 11:13] n1colius opened #916 "How to set active the first sheet"
i am trying to write an excel file with multiple sheets. but somehow i struggle to find the syntax to set the excel file active on the first sheet when we open the file.

Currently it is always active on the last sheet. here is snippet of my code

	let workbook = new Excel.Workbook();
	workbook.creator = 'PT. ABCDE';
	workbook.lastModifiedBy = 'PT. ABCDE';
	workbook.created = new Date();
	workbook